@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
html h2,
html ul,
html p,
body h2,
body ul,
body p {
  padding: 0;
  margin: 0;
}
html li,
body li {
  outline: none;
  list-style: none;
}
html a,
body a {
  text-decoration: none;
}

.cont {
  display: none;
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
}
main::-webkit-scrollbar {
  width: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
main::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/** 공통 헤더 **/
.header-section {
  z-index: 200;
  background-color: black;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-section .header-logo {
  width: 178px;
}
.header-section .header-logo img {
  width: 100%;
}
.header-section .header-nav .header-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: unset;
}
.header-section .header-nav .header-nav-list .header-nav-item {
  position: relative;
  display: grid;
  height: 80px;
  overflow: hidden;
}
.header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header-section .header-btn-section .header-btn-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.header-section .header-btn-section > hr {
  height: 16px;
  background-color: white;
}

@-webkit-keyframes scroll-spin {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes scroll-spin {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
.main-page .section1 {
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-page .section1 video {
  position: absolute;
  top: 0;
}
.main-page .section1 .section1-video {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.main-page .section1 .mouse-scroll {
  position: absolute;
  width: 53px;
  height: 78px;
  border-radius: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5px;
  background-color: #1d1f22;
  bottom: 14vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
}
.main-page .section1 .mouse-scroll .mouse-scroll-img-box {
  overflow: hidden;
}
.main-page .section1 .mouse-scroll .mouse-scroll-img-box .mouse-scroll-img {
  -webkit-animation: scroll-spin 1.5s ease-in-out infinite;
          animation: scroll-spin 1.5s ease-in-out infinite;
}
.main-page .section1 .mouse-scroll .scroll-text {
  font-size: 10px;
  color: #F5F6F8;
  font-family: "Montserrat", sans-serif;
}
.main-page .section1 .fade-out {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.main-page .section1 .fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.main-page .section1 .hidden {
  display: none;
}
.main-page .section1 .section1-title-box {
  width: 100%;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20vh;
}
.main-page .section1 .section1-title-box .fade-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-extra {
  width: 796px;
  -webkit-transform: translateY(-220px);
          transform: translateY(-220px);
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-extra img {
  width: 100%;
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-extra-2 {
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-title {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-title .section1-main-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 140%;
  padding-bottom: 16px;
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-title .section1-sub-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.main-page .section1 .section1-title-box .fade-wrapper .section1-title .about-company {
  width: 181px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.main-page .section1 .section1-title-box .fade1-wrapper {
  width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page .section1 .pagination-btn-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 25vh;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.main-page .section1 .pagination-btn-wrapper .pagination-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.main-page .section1 .pagination-btn-wrapper .pagination-indicator .pagination-line {
  width: 286px;
  height: 1px;
  background-color: #949494;
  position: relative;
  overflow: hidden;
}
.main-page .section1 .pagination-btn-wrapper .pagination-indicator .pagination-line .pagination-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  height: 1px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.main-page .section1 .section1-logo {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.main-page .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.main-page .section2 .section2-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 138px;
     -moz-column-gap: 138px;
          column-gap: 138px;
  position: absolute;
  top: 100px;
}
.main-page .section2 .section2-title-box .left-title-wrapper {
  position: relative;
}
.main-page .section2 .section2-title-box .left-title-wrapper .left-title {
  display: inline-block;
}
.main-page .section2 .section2-title-box .left-title-wrapper .left-title > div {
  display: inline-block;
  font-weight: 700;
  font-size: 34px;
  white-space: pre-line;
  line-height: 140%;
  color: white;
  opacity: 0.3;
  letter-spacing: -0.08em;
}
.main-page .section2 .section2-title-box .right-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  color: white;
}
.main-page .section2 .section2-title-box .right-title .title-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.main-page .section2 .section2-title-box .right-title .width-dx-box {
  width: 181px;
  height: 52px;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page .section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  padding-bottom: 113px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-page .section3 .section3-left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  color: white;
}
.main-page .section3 .section3-left-box .tb {
  display: none;
}
.main-page .section3 .section3-left-box .mb {
  display: none;
}
.main-page .section3 .section3-left-box .top-text {
  font-size: 34px;
  font-weight: 700;
  line-height: 140%;
}
.main-page .section3 .section3-left-box .top-text span {
  color: #0095FF;
}
.main-page .section3 .section3-left-box .center-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.main-page .section3 .section3-left-box .works-box {
  width: 181px;
  height: 52px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.main-page .section3 .section3-right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}
.main-page .section3 .section3-right-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 13px;
}
.main-page .section3 .section3-right-box .section3-card {
  width: 319px;
  height: 358px;
  border: 1px solid #5C6770;
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 20px rgba(41, 91, 255, 0.6);
          box-shadow: 0px 4px 20px rgba(41, 91, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page .section3 .section3-right-box .section3-card .card-title {
  font-size: 34px;
  color: white;
  font-weight: 700;
}
.main-page .section3 .section3-right-box .section3-card .card-bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page .section3 .section3-right-box .section3-card .card-bottom-box .arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
}
.main-page .section3 .section3-right-box .blockchain-card {
  position: relative;
  top: 84px;
}
.main-page .section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 94px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, from(#1A1B23), to(#000000));
  background: linear-gradient(to top, #1A1B23 0%, #000000 100%);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  overflow: hidden;
  position: relative;
}
.main-page .section4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 149, 255, 0.2)), to(#000));
  background: linear-gradient(to top, rgba(0, 149, 255, 0.2) 0%, #000 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, -webkit-transform 0.6s ease;
  z-index: 0;
}
.main-page .section4 .section4-title {
  color: white;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  font-weight: 700;
}
.main-page .section4 .section4-title span {
  color: #0095FF;
}
.main-page .section4 .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page .section4 .btn-box .btn {
  width: 181px;
  height: 52px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.main-page .section4 .btn-box .white {
  color: black;
  background-color: white;
}
.main-page .section4 * {
  position: relative;
  z-index: 1;
}
.main-page .section4:hover::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}
.main-page .section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 110px;
  padding-top: 167px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.main-page .section5 .section5-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.main-page .section5 .section5-title-box .color-title-text {
  font-size: 18px;
  font-weight: 700;
  color: #0095FF;
  text-align: center;
}
.main-page .section5 .section5-title-box .sectoin5-title {
  color: white;
  line-height: 140%;
  font-size: 34px;
  text-align: center;
  font-weight: 700;
}
.main-page .section5 .section5-title-box .sectoin5-title .mb {
  display: none;
}
.main-page .section5 .section5-title-box .blockchain-x {
  font-size: 18px;
  font-weight: 700;
  width: 181px;
  height: 52px;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page .section5 .section5-img-list {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 436px);
  bottom: 141px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-page .section5 .section5-img-list > img {
  width: 100%;
  position: relative;
}
.main-page .section5 .section5-img-list > img:nth-child(1) {
  left: 300px;
}
.main-page .section5 .section5-img-list > img:nth-child(2) {
  left: 100px;
}
.main-page .section5 .section5-img-list > img:nth-child(3) {
  left: -100px;
}
.main-page .section5 .section5-img-list > img:nth-child(4) {
  left: -300px;
}
.main-page .section6 {
  width: 100%;
  height: 507px;
  background-image: url("../assets/section6/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page .section6 .text-box {
  width: 1126px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.main-page .section6 .text-box .top-text {
  color: #0095FF;
  font-size: 24px;
  font-weight: 700;
}
.main-page .section6 .text-box .middle-text {
  font-size: 34px;
  font-weight: 700;
  white-space: pre-line;
  line-height: 140%;
  color: white;
}
.main-page .section6 .text-box .middle-text br {
  display: none;
}
.main-page .section6 .text-box .middle-text span {
  color: #0095FF;
}
.main-page .section6 .text-box .careers {
  width: 181px;
  height: 52px;
  color: white;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section {
  width: 100%;
  background-color: #1A1B23;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ABB3BA;
}
.footer-section .footer-nav-list {
  margin: 27px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  border-bottom: solid 1px #44464F;
}
.footer-section .footer-nav-list .footer-nav-list-item {
  font-size: 14px;
  font-weight: 400;
  color: #ABB3BA;
}
.footer-section .footer-content-container {
  margin-bottom: 40px;
}
.footer-section .footer-content-container .footer-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 13px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
  width: 80px;
  font-weight: 700;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section .footer-bottom-wrapper .footer-bottom-text {
  font-size: 13px;
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper .footer-bottom-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

@media screen and (max-width: 1440px) {
  .header-section {
    padding: 0 20px;
  }
  .header-section .header-logo {
    width: 120px;
  }
  .header-section .header-nav .header-nav-list {
    grid-template-columns: repeat(4, 110px);
  }
  .header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 14px;
  }
  .header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 12px;
  }
  .header-section .header-btn-section {
    gap: 8px;
  }
  .main-page .pc-br {
    display: none;
  }
  .main-page .section1 {
    height: calc(100vh - 80px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-page .section1 .section1-video {
    top: 20vh;
  }
  .main-page .section1 .section1-title-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: unset;
    height: 100%;
  }
  .main-page .section1 .section1-title-box .fade-wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding-bottom: 50vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    z-index: 1;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title .about-company {
    margin: 0 auto;
    margin-top: 16px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title .section1-main-text {
    font-size: 30px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title .section1-sub-text {
    font-size: 16px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-extra1 {
    width: 600px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    -webkit-transform: unset;
            transform: unset;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title1 {
    padding-top: 0px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-extra-2 {
    z-index: 0;
    -webkit-transform: unset;
            transform: unset;
    position: absolute;
    width: 55vh;
    bottom: 0;
  }
  .main-page .section1 .pagination-btn-wrapper {
    bottom: 10vh;
    z-index: 1;
  }
  .main-page .section1 .section1-logo {
    bottom: 0;
  }
  .main-page .section1 .mouse-scroll {
    bottom: 0;
  }
  .main-page .section2 {
    padding-top: 79px;
    padding-bottom: 142px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-page .section2 .section2-title-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 16px;
    position: unset;
  }
  .main-page .section2 .section2-title-box .width-dx-box {
    margin: 0 auto;
  }
  .main-page .section2 picture img {
    height: 480px;
  }
  .main-page .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 72px;
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-page .section3 .section3-left-box {
    text-align: center;
  }
  .main-page .section3 .section3-left-box .tb {
    display: block;
  }
  .main-page .section3 .section3-left-box .pc {
    display: none;
  }
  .main-page .section3 .section3-left-box .works-box {
    margin: 0 auto;
  }
  .main-page .section3 .section3-right-box {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .main-page .section3 .section3-right-box::-webkit-scrollbar {
    display: none;
  }
  .main-page .section3 .section3-right-box .box {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .main-page .section3 .section3-right-box .section3-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .main-page .section3 .section3-right-box .blockchain-card {
    position: unset;
    top: 0;
  }
  .main-page .section4 {
    margin-top: 197px;
  }
  .main-page .section5 .section5-title-box .color-title-text {
    font-size: 24px;
  }
  .main-page .section5 .section5-img-list {
    grid-template-columns: repeat(4, 238px);
    bottom: 100px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(1) {
    left: 150px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(2) {
    left: 50px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(3) {
    left: -50px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(4) {
    left: -150px;
  }
  .main-page .section6 .text-box {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page .section6 .text-box .middle-text {
    text-align: center;
  }
  .footer-section {
    padding: 38px;
  }
  .footer-section .footer-nav-list {
    margin: 24px 0 12px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer-section .footer-content-container {
    margin-bottom: 28px;
  }
  .footer-section .footer-content-container .footer-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
    font-size: 12px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
    width: 78px;
    white-space: nowrap;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-section .footer-bottom-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .no-mb-br {
    display: none;
  }
  .main-page .section1 {
    height: calc(100vh - 80px);
    padding-top: 5vh;
  }
  .main-page .section1 video {
    height: 390px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper {
    row-gap: 42px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title {
    row-gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: unset;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title .section1-main-text {
    font-size: 30px;
    padding-bottom: 8px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-title .section1-sub-text {
    font-size: 16px;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-extra1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    display: unset;
    width: 50vh;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-extra1 picture {
    margin: 0 auto;
    text-align: center;
  }
  .main-page .section1 .section1-title-box .fade-wrapper .section1-extra-2 {
    z-index: 0;
    width: 45vh;
    display: unset;
  }
  .main-page .section1 .mouse-scroll {
    bottom: -100px;
  }
  .main-page .section1 .section1-logo {
    bottom: 220px;
  }
  .main-page .section1 .pagination-btn-wrapper {
    bottom: 5vh;
  }
  .main-page .section1 .pagination-btn-wrapper .pagination-indicator .pagination-line {
    width: 167px;
  }
  .main-page .section1 .pagination-btn-wrapper .pagination-indicator .pagination-line .pagination-highlight {
    width: 90px;
  }
  .main-page .section2 {
    padding-top: 250px;
  }
  .main-page .section2 .section2-title-box .left-title-wrapper .left-title {
    white-space: unset;
    width: 250px;
  }
  .main-page .section2 .section2-title-box .left-title-wrapper .left-title > div {
    font-size: 26px;
  }
  .main-page .section2 .section2-title-box .right-title .title-text {
    font-size: 16px;
    white-space: unset;
  }
  .main-page .section2 .section2-title-box .right-title .title-text br {
    display: block;
  }
  .main-page .section2 picture img {
    height: auto;
  }
  .main-page .section3 .section3-left-box .top-text {
    font-size: 26px;
  }
  .main-page .section3 .section3-left-box .top-text .pc {
    display: none;
  }
  .main-page .section3 .section3-left-box .top-text .tb {
    display: none;
  }
  .main-page .section3 .section3-left-box .top-text .mb {
    display: block;
  }
  .main-page .section3 .section3-left-box .center-text {
    font-size: 16px;
  }
  .main-page .section3 .section3-right-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: unset;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page .section3 .section3-right-box .section3-card {
    width: 320px;
    height: 358px;
  }
  .main-page .section3 .section3-right-box .box {
    row-gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page .section4 {
    padding: 84px 0px;
  }
  .main-page .section4 .section4-title {
    font-size: 26px;
  }
  .main-page .section4 .btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }
  .main-page .section5 .section5-title-box .color-title-text {
    font-size: 18px;
  }
  .main-page .section5 .section5-title-box .sectoin5-title {
    font-size: 26px;
  }
  .main-page .section5 .section5-title-box .sectoin5-title .pc {
    display: none;
  }
  .main-page .section5 .section5-title-box .sectoin5-title .mb {
    display: block;
  }
  .main-page .section5 .section5-img-list {
    grid-template-columns: repeat(4, 105px);
    bottom: 100px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(1) {
    left: 75px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(2) {
    left: 25px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(3) {
    left: -25px;
  }
  .main-page .section5 .section5-img-list > img:nth-child(4) {
    left: -75px;
  }
  .main-page .section6 .text-box {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 24px;
  }
  .main-page .section6 .text-box .top-text {
    font-size: 18px;
  }
  .main-page .section6 .text-box .middle-text {
    text-align: center;
    font-size: 26px;
    white-space: unset;
  }
  .main-page .section6 .text-box .middle-text br {
    display: block;
  }
  .main-page .section6 .text-box .careers {
    width: 181px;
    height: 51px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1441px) {
  .main-page .pc-br {
    display: block;
  }
}
@media screen and (min-width: 1441px) {
  .main-page .no-mb-br {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-section .header-nav .header-nav-list .header-nav-item:hover {
    overflow: visible;
  }
  .mb-menu,
  .mb-br,
  .mb {
    display: none !important;
  }
}