html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard",
        sans-serif;
    overflow: hidden;

    h2,
    ul,
    p {
        padding: 0;
        margin: 0;
    }

    li {
        outline: none;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

}

.cont {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;

    /* 스크롤바 스타일 설정 */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #333;
        /* 스크롤바 색상 */
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: #000;
        /* 트랙 배경색 */
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button,
a,
label {
    padding: unset;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background-color: unset;
    color: black;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
        transition: 0.2s ease-in-out;
    }
}

/** 공통 헤더 **/
.header-section {
    z-index: 200;
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 56px;
    box-sizing: border-box;

    .header-logo {
        width: 178px;

        img {
            width: 100%;
        }
    }

    .header-nav {
        .header-nav-list {
            display: grid;
            grid-template-columns: repeat(4, 190px);
            align-items: center;
            // gap: 32px;
            padding: unset;

            .header-nav-item {
                position: relative;
                display: grid;
                height: 80px;
                overflow: hidden;

                .header-nav-link {
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .sub-nav-list {
                    width: 100%;
                    // display: none;
                    display: flex;
                    top: 100%;
                    left: 0;
                    background-color: black;
                    flex-direction: column;
                    position: absolute;

                    .sub-nav-link {
                        width: 100%;
                        // width: 209px;
                        height: 50px;
                        color: white;
                        font-size: 16px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

        }
    }

    .header-btn-section {
        display: flex;
        align-items: center;
        gap: 16px;

        .header-btn-item {
            color: white;
            font-size: 14px;
            font-weight: 700;
        }

        &>hr {
            height: 16px;
            background-color: white;
        }
    }
}

@keyframes scroll-spin {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-0);
    }

    100% {
        transform: translateY(100px);
    }
}

.main-page {
    .section1 {
        width: 100%;
        height: 960px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        transition: background-image 0.4s ease-in-out;
        display: flex;

        .hidden {
            display: none;
        }

        .section1-title-box {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-top: 170px;
            box-sizing: border-box;

            .section1-extra {
                transform: translateY(-30px);
            }

            .section1-title {
                display: flex;
                color: white;
                flex-direction: column;

                .section1-main-text {
                    font-weight: 700;
                    font-size: 45px;
                    line-height: 140%;
                    padding-bottom: 16px;
                }

                .section1-sub-text {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 150%;
                }

                .about-company {
                    width: 181px;
                    height: 52px;
                    display: flex;
                    margin-top: 32px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid white;
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        .pagination-btn-wrapper {
            position: absolute;
            bottom: 296px;
            left: 50%;
            display: flex;
            align-items: center;
            transform: translate(-50%, 0%);
            column-gap: 16px;

            .pagination-indicator {
                display: flex;
                color: white;
                font-size: 16px;
                font-weight: bold;
                align-items: center;
                column-gap: 10px;

                .pagination-line {
                    width: 286px;
                    height: 1px;
                    background-color: #949494;
                    position: relative;
                    overflow: hidden;

                    .pagination-highlight {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 146px;
                        height: 1px;
                        background-color: white;
                        transition: transform 0.4s ease;
                    }
                }
            }
        }

        .section1-logo {
            width: 100%;
            bottom: 0px;
            position: absolute;
        }
    }
//         .section1 {
//             height: 960px;
//             position: relative;
//             overflow: hidden;
//             color:white;
//             .slide {
//   width: 100%; // 추가
//   flex-shrink: 0; // 혹시 flex가 줄어드는 경우 방지
// }
//             .slider-viewport {
//                 width: 100%;
//                 height: 100%;
//                 overflow: hidden;
//                 position: relative;
//             }
    
//             .slider-track {
//                 display: flex;
//                 height: 100%;
//                 width: 300%; // 슬라이드 개수만큼 100% * N
//                 transition: transform 0.5s ease-in-out;
//             }
    
//             .slide {
//                 flex: 0 0 100%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
    
//             .section1-title-box {
//                 display: flex;
//                 flex-direction: column;
//                 row-gap: 24px;
    
//                 .section1-title {
//                     width: 285px;
//                     display: flex;
//                     flex-direction: column;
//                     row-gap: 24px;
//                     align-items: center;
//                 }
    
//                 .section1-main-text {
//                     font-size: 32px;
//                     font-weight: bold;
//                     text-align: center;
//                     line-height: 1.4;
//                 }
    
//                 .section1-sub-text {
//                     font-size: 16px;
//                     line-height: 1.6;
//                     text-align: center;
//                 }
    
//                 .about-company {
//                     font-size: 14px;
//                     padding: 8px 16px;
//                     background-color: #000;
//                     color: #fff;
//                     cursor: pointer;
//                 }
    
//                 .section1-extra,
//                 .section1-logo {
//                     margin-top: 40px;
//                     text-align: center;
//                 }
//             }
    
//             .pagination-btn-wrapper {
//                 position: absolute;
//                 bottom: 30px;
//                 left: 50%;
//                 transform: translateX(-50%);
//                 display: flex;
//                 align-items: center;
//                 gap: 20px;
//             }
    
//             .pagination-line {
//                 width: 286px;
//                 height: 3px;
//                 background: #ccc;
//                 position: relative;
//             }
    
//             .pagination-highlight {
//                 width: 146px;
//                 height: 3px;
//                 background-color: #000;
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 transition: transform 0.3s ease;
//             }
    
//             .mouse-scroll {
//                 bottom: -90px;
//             }
//         }
    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        position: relative;

        .section2-title-box {
            display: flex;
            align-items: center;
            column-gap: 138px;
            position: absolute;
            top: 100px;

            .left-title-wrapper {
                position: relative;

                .left-title {
                    // width: 513px;
                    display: inline-block;

                    &>div {
                        display: inline-block;
                        font-weight: 700;
                        font-size: 34px;
                        white-space: pre-line;
                        line-height: 140%;
                        color: white;
                        opacity: 0.3;
                        letter-spacing: -0.08em;
                    }



                }
            }

            .right-title {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                color: white;

                .title-text {
                    font-size: 18px;
                    font-weight: 400;
                    // white-space: pre-line;
                    line-height: 150%;

                    // br {
                    //     display: none;
                    // }
                }

                .width-dx-box {
                    width: 181px;
                    height: 52px;
                    border: 1px solid white;
                    font-size: 18px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .section3 {
        display: flex;
        justify-content: center;
        // align-items: center;
        column-gap: 28px;
        padding-bottom: 113px;
        box-sizing: border-box;

        .section3-left-box {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            color: white;

            .tb {
                display: none;
            }

            .mb {
                display: none;
            }

            .top-text {
                font-size: 34px;
                font-weight: 700;
                line-height: 140%;

                span {
                    color: #0095FF;
                }
            }

            .center-text {
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }

            .works-box {
                width: 181px;
                height: 52px;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .section3-right-box {
            display: flex;
            column-gap: 17px;

            .box {
                display: flex;
                flex-direction: column;
                row-gap: 13px;
            }

            .section3-card {
                width: 319px;
                height: 358px;
                border: 1px solid #5C6770;
                border-radius: 16px;
                box-shadow: 0px 4px 20px #295BFF99;
                display: flex;
                flex-direction: column;
                padding: 24px 24px;
                box-sizing: border-box;
                justify-content: space-between;

                .card-title {
                    font-size: 34px;
                    color: white;
                    font-weight: 700;
                }

                .card-bottom-box {
                    display: flex;
                    justify-content: space-between;

                    .arrow-btn {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        margin-top: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid white;
                    }
                }
            }

            .blockchain-card {
                position: relative;
                top: 84px;
                ;
            }
        }

    }

    .section4 {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
        padding: 94px 0px;
        box-sizing: border-box;
        background: linear-gradient(to top, #1A1B23 0%, #000000 100%);
        transition: background 0.3s ease;
        overflow: hidden;
        position: relative;


        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, rgba(0, 149, 255, 0.2) 0%, #000 100%);
            transform: translateY(100%);
            opacity: 0;
            transition: transform 0.6s ease,
                opacity 0.6s ease;
            z-index: 0;
        }

        .section4-title {
            color: white;
            font-size: 34px;
            line-height: 140%;
            text-align: center;
            font-weight: 700;

            span {
                color: #0095FF;
            }
        }

        .btn-box {
            display: flex;
            column-gap: 16px;
            align-items: center;

            .btn {
                width: 181px;
                height: 52px;
                font-size: 18px;
                font-weight: 700;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }

            .white {
                color: black;
                background-color: white;
            }
        }

        * {
            position: relative;
            z-index: 1;
        }

        &:hover::before {
            transform: translateY(0%);
            opacity: 1;
        }
    }



    .section5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 110px;
        padding-top: 167px;
        box-sizing: border-box;
        position: relative;

        .section5-title-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 16px;

            .color-title-text {
                font-size: 18px;
                font-weight: 700;
                color: #0095FF;
                text-align: center;
            }

            .sectoin5-title {
                color: white;
                line-height: 140%;
                font-size: 34px;
                text-align: center;
                font-weight: 700;

                .mb {
                    display: none;
                }
            }

            .blockchain-x {
                font-size: 18px;
                font-weight: 700;
                width: 181px;
                height: 52px;
                border: 1px solid white;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .section5-img-list {
            display: grid;
            position: absolute;
            grid-template-columns: repeat(4, 436px);
            bottom: 141px;
            justify-content: center;

            &>img {
                width: 100%;
                position: relative;
            }

            &>img:nth-child(1) {
                left: 300px;
            }

            &>img:nth-child(2) {
                left: 100px;
            }

            &>img:nth-child(3) {
                left: -100px;
            }

            &>img:nth-child(4) {
                left: -300px;
            }


        }
    }

    .section6 {
        width: 100%;
        height: 507px;
        background-image: url("../assets/section6/bg-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;

        .text-box {
            width: 1126px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            .top-text {
                color: #0095FF;
                font-size: 24px;
                font-weight: 700;
            }

            .middle-text {
                font-size: 34px;
                font-weight: 700;
                white-space: pre-line;
                line-height: 140%;
                color: white;

                br {
                    display: none;
                }

                span {
                    color: #0095FF;
                }
            }

            .careers {
                width: 181px;
                height: 52px;
                color: white;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.footer-section {
    width: 100%;
    background-color: #1A1B23;
    padding: 56px;
    box-sizing: border-box;
    color: #ABB3BA;

    .footer-nav-list {
        margin: 27px 0 12px;
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        column-gap: 25px;
        border-bottom: solid 1px #44464F;

        .footer-nav-list-item {
            font-size: 14px;
            font-weight: 400;
            color: #ABB3BA;
        }
    }

    .footer-content-container {
        margin-bottom: 40px;

        .footer-content-list {
            display: flex;
            column-gap: 32px;

            .footer-content-list-col {
                display: flex;
                flex-direction: column;
                row-gap: 6px;

                .footer-content-list-item {
                    display: flex;
                    align-items: center;
                    column-gap: 16px;
                    font-size: 13px;

                    .footer-content-list-item-title {
                        width: 80px;
                        font-weight: 700;
                    }

                    .footer-content-list-item-desc {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .footer-bottom-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer-bottom-text {
            font-size: 13px;
            font-weight: 400;
        }

        .footer-bottom-sns-list {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }
}

@media screen and (max-width:1440px) {
    .header-section {
        padding: 0 20px;

        .header-logo {
            width: 120px;
        }

        .header-nav {
            .header-nav-list {
                grid-template-columns: repeat(4, 110px);

                .header-nav-item {
                    .header-nav-link {
                        font-size: 14px;
                    }

                    .sub-nav-list {
                        .sub-nav-link {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .header-btn-section {
            gap: 8px;
        }
    }

    .main-page {
        .pc-br {
            display: none;
        }

        .section1 {
            height: 690px;

            .section1-title-box {
                .section1-title {
                    width: 626px;
                }

            }

            .mouse-scroll {
                bottom: 10px;
            }
        }

        .section2 {
            padding-top: 79px;
            padding-bottom: 142px;
            box-sizing: border-box;

            .section2-title-box {
                flex-direction: column;
                text-align: center;
                row-gap: 16px;
                position: unset;

                .width-dx-box {
                    margin: 0 auto;
                }
            }

            picture {
                img {
                    height: 480px;

                }
            }
        }

        .section3 {
            flex-direction: column;
            row-gap: 72px;
            padding: 0px 20px;
            box-sizing: border-box;

            .section3-left-box {
                text-align: center;

                .tb {
                    display: block;
                }

                .pc {
                    display: none;
                }

                .works-box {
                    margin: 0 auto;
                }
            }

            .section3-right-box {
                width: 100%;
                max-width: 1100px;
                margin: 0 auto;
                padding: 0 20px;
                box-sizing: border-box;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                column-gap: 16px;

                &::-webkit-scrollbar {
                    display: none;
                }

                .box {
                    flex-direction: unset;
                    column-gap: 16px;
                }

                .section3-card {
                    flex: 0 0 auto;
                }

                .blockchain-card {
                    position: unset;
                    top: 0;
                }
            }

        }

        .section4 {
            margin-top: 197px;
        }

        .section5 {
            .section5-title-box {
                .color-title-text {
                    font-size: 24px;
                }
            }

            .section5-img-list {
                grid-template-columns: repeat(4, 238px);
                bottom: 100px;

                &>img:nth-child(1) {
                    left: 150px;
                }

                &>img:nth-child(2) {
                    left: 50px;
                }

                &>img:nth-child(3) {
                    left: -50px;
                }

                &>img:nth-child(4) {
                    left: -150px;
                }


            }
        }

        .section6 {
            .text-box {
                width: auto;
                align-items: center;

                .middle-text {
                    text-align: center;
                }
            }

        }
    }

    .footer-section {
        padding: 38px;

        .footer-nav-list {
            margin: 24px 0 12px;
            column-gap: 16px;
        }

        .footer-content-container {
            margin-bottom: 28px;

            .footer-content-list {
                flex-direction: column;

                .footer-content-list-col {
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;

                    .footer-content-list-item {
                        font-size: 12px;

                        .footer-content-list-item-title {
                            width: 78px;
                            white-space: nowrap;
                        }

                        .footer-content-list-item-desc {
                            font-weight: 400;
                            flex: 1;
                        }
                    }
                }
            }
        }

        .footer-bottom-wrapper {
            align-items: flex-start;
            flex-direction: column-reverse;
            row-gap: 10px;
        }
    }
}

@media screen and (max-width:767px) {
    .no-mb-br {
        display: none;
    }


    .main-page {
        .section1 {
            height: 655px;
            .section1-title-box {
                .section1-title {
                    width: 285px;
                    row-gap: 24px;
                    align-items: center;
                }
            }

            .mouse-scroll {
                bottom: -90px;
            }
        }

        .section2 {
            padding-top: 250px;

            .section2-title-box {
                .left-title-wrapper {
                    .left-title {

                        white-space: unset;
                        width: 250px;

                        &>div {
                            font-size: 26px;
                        }
                    }


                }

                .right-title {
                    .title-text {
                        font-size: 16px;
                        white-space: unset;

                        br {
                            display: block;
                        }
                    }
                }
            }

            picture {
                img {
                    height: auto;
                }
            }
        }

        .section3 {
            .section3-left-box {
                .top-text {
                    font-size: 26px;

                    .pc {
                        display: none;
                    }

                    .tb {
                        display: none;
                    }

                    .mb {
                        display: block;
                    }
                }

                .center-text {
                    font-size: 16px;
                }


            }

            .section3-right-box {
                flex-direction: column;
                overflow: unset;
                row-gap: 40px;
                align-items: center;

                .section3-card {
                    width: 320px;
                    height: 358px;
                }

                .box {
                    row-gap: 40px;
                    flex-direction: column;
                }
            }

        }

        .section4 {
            padding: 84px 0px;

            .section4-title {
                font-size: 26px;
            }

            .btn-box {
                flex-direction: column;
                row-gap: 16px;
            }
        }

        .section5 {
            .section5-title-box {
                .color-title-text {
                    font-size: 18px;
                }

                .sectoin5-title {
                    font-size: 26px;

                    .pc {
                        display: none;
                    }

                    .mb {
                        display: block;
                    }
                }
            }

            .section5-img-list {
                grid-template-columns: repeat(4, 105px);
                bottom: 100px;

                &>img:nth-child(1) {
                    left: 75px;
                }

                &>img:nth-child(2) {
                    left: 25px;
                }

                &>img:nth-child(3) {
                    left: -25px;
                }

                &>img:nth-child(4) {
                    left: -75px;
                }


            }
        }

        .section6 {
            .text-box {
                width: auto;
                align-items: center;
                row-gap: 24px;

                .top-text {
                    font-size: 18px;
                }

                .middle-text {
                    text-align: center;
                    font-size: 26px;
                    white-space: unset;

                    br {
                        display: block;
                    }
                }

                .careers {
                    width: 181px;
                    height: 51px;
                    font-size: 18px;
                }
            }
        }

    }


}


@media screen and (min-width: 1441px) {
    .main-page {
        .pc-br {
            display: block;
        }
    }
}


@media screen and (min-width: 1441px) {
    .main-page {
        .no-mb-br {
            display: block;
        }
    }
}



@media screen and (min-width: 768px) {
    .header-section {

        .header-nav {
            .header-nav-list {
                .header-nav-item:hover {
                    overflow: visible;


                }
            }
        }
    }



    .mb-menu,
    .mb-br,
    .mb {
        display: none !important;
    }
}