@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  background-color: black;
  overflow: hidden;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/** 공통 헤더 **/
.header-section {
  z-index: 200;
  background-color: black;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-section .header-logo {
  width: 178px;
}
.header-section .header-nav .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  padding: unset;
}
.header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.header-section .header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header-section .header-btn-section .header-btn-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.header-section .header-btn-section > hr {
  height: 16px;
  background-color: white;
}

.main-page {
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}
.main-page::-webkit-scrollbar {
  width: 8px;
}
.main-page::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
.main-page::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}
.main-page .main-ledger-builder-section {
  background-color: black;
  width: 100%;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top {
  position: relative;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .gradient-line {
  position: absolute;
  top: 50%;
  /* 가운데 정렬 */
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 200px;
  /* 높이 넉넉히 줘야 blur 효과 적용됨 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 106, 178, 0)), color-stop(50%, rgba(60, 106, 178, 0.5)), to(rgba(60, 106, 178, 0)));
  background: linear-gradient(to bottom, rgba(60, 106, 178, 0) 0%, rgba(60, 106, 178, 0.5) 50%, rgba(60, 106, 178, 0) 100%);
  -webkit-filter: blur(12px);
          filter: blur(12px);
  z-index: 0;
  pointer-events: none;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content {
  width: 1238px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left {
  color: white;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-tag {
  font-size: 24px;
  font-weight: 700;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  margin: 16px 0;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-title .title-color {
  color: #0095FF;
}
.main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #ABB3BA;
}
.main-page .main-ledger-builder-section .main-ledger-builder-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
  padding: 76px 0 109px;
}
.main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content .main-ledger-builder-bottom-tag {
  font-size: 24px;
  font-weight: bold;
  color: #0095FF;
}
.main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content .main-ledger-builder-bottom-title {
  font-size: 34px;
  color: white;
  font-weight: bold;
  margin: 11px 0 16px;
}
.main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content .main-ledger-builder-bottom-desc {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 150%;
  text-align: center;
}
.main-page .main-slogan-section {
  background-color: #1A1B23;
  width: 100%;
  height: 378px;
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper {
  width: 1218px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-content .main-slogan-section-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 140%;
  color: white;
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-content .main-slogan-section-title .title-color {
  color: #0095FF;
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-content .main-slogan-section-desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: white;
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper > img:nth-child(1) {
  -webkit-transform: translateX(180px);
          transform: translateX(180px);
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper > img:nth-child(2) {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}
.main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  color: white;
  text-align: right;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media screen and (max-width: 1440px) {
  .header-section {
    padding: 0 20px;
  }
  .header-section .header-logo {
    width: 120px;
  }
  .header-section .header-nav .header-nav-list {
    gap: 16px;
  }
  .header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 15px;
  }
  .header-section .header-btn-section {
    gap: 8px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .gradient-line {
    top: 35%;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left {
    text-align: center;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-right > img {
    width: 495px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom {
    row-gap: 72px;
    padding: 240px 0 200px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-img {
    width: 636px;
  }
  .main-page .main-slogan-section {
    height: 736px;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-content {
    text-align: center;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section {
    height: 493px;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper > img:nth-child(1) {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper > img:nth-child(2) {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
    color: white;
    text-align: right;
    -webkit-transform: translate(-130px, -30px);
            transform: translate(-130px, -30px);
  }
}
@media screen and (max-width: 768px) {
  .header-section .header-logo {
    width: 120px;
  }
  .header-section > .header-nav, .header-section > .header-btn-section {
    display: none;
  }
  .header-section .header-mobile-menu {
    position: fixed;
    right: -100%;
    top: 80px;
    background-color: black;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 40px;
    -webkit-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list {
    display: grid;
    grid-template-rows: repeat(4, 60px);
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1px;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .header-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-btn-section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin: 0 auto;
  }
  .header-section .active-mobile-menu {
    right: 0;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .gradient-line {
    top: 33%;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-tag {
    font-size: 16px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-title {
    font-size: 30px;
    font-weight: 700;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-left .main-ledger-builder-desc {
    font-size: 14px;
    width: 300px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-top .main-ledger-builder-top-content .main-ledger-builder-top-right > img {
    width: 277px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom {
    row-gap: 30px;
    padding: 170px 0 180px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content .main-ledger-builder-bottom-tag {
    font-size: 18px;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content .main-ledger-builder-bottom-title {
    font-size: 30px;
    margin: 8px 0;
    width: 204px;
    text-align: center;
    line-height: 140%;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-content .main-ledger-builder-bottom-desc {
    width: 320px;
    font-size: 14px;
    line-height: 150%;
  }
  .main-page .main-ledger-builder-section .main-ledger-builder-bottom .main-ledger-builder-bottom-img {
    width: 320px;
  }
  .main-page .main-slogan-section {
    height: 842px;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-content .main-slogan-section-title {
    font-size: 30px;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-content .main-slogan-section-desc {
    font-size: 14px;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section {
    height: 493px;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper > img:nth-child(1) {
    -webkit-transform: unset;
            transform: unset;
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-wrapper > img:nth-child(2) {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .main-page .main-slogan-section .main-slogan-section-content-wrapper .main-slogan-section-img-section .main-slogan-section-img-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
    color: white;
    text-align: center;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}