html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard",
        sans-serif;
    overflow: hidden;

    h2,
    ul,
    p {
        padding: 0;
        margin: 0;
    }

    li {
        outline: none;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

}

.cont {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;

    /* 스크롤바 스타일 설정 */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #333;
        /* 스크롤바 색상 */
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: #000;
        /* 트랙 배경색 */
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button,
a,
label {
    padding: unset;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background-color: unset;
    color: black;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
        transition: 0.2s ease-in-out;
    }
}

/** 공통 헤더 **/
.header-section {
    z-index: 200;
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 56px;
    box-sizing: border-box;

    .header-logo {
        width: 178px;

        img {
            width: 100%;
        }
    }

    .header-nav {
        .header-nav-list {
            display: grid;
            grid-template-columns: repeat(4, 190px);
            align-items: center;
            // gap: 32px;
            padding: unset;

            .header-nav-item {
                position: relative;
                display: grid;
                height: 80px;
                overflow: hidden;

                .header-nav-link {
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .sub-nav-list {
                    width: 100%;
                    // display: none;
                    display: flex;
                    top: 100%;
                    left: 0;
                    background-color: black;
                    flex-direction: column;
                    position: absolute;

                    .sub-nav-link {
                        width: 100%;
                        // width: 209px;
                        height: 50px;
                        color: white;
                        font-size: 16px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

        }
    }

    .header-btn-section {
        display: flex;
        align-items: center;
        gap: 16px;

        .header-btn-item {
            color: white;
            font-size: 14px;
            font-weight: 700;
        }

        &>hr {
            height: 16px;
            background-color: white;
        }
    }
}

@keyframes scroll-spin {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-0);
    }

    100% {
        transform: translateY(100px);
    }
}

.main-page {
    .section1 {
        width: 100%;
        height: 960px;
        background-image: image-set(url(../assets/section1/section1.png) 1x,
                url(../assets/section1/section1@2x.png) 2x,
                url(../assets/section1/section1@3x.png) 3x);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .section1-title-box {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            top: 190px;
            display: flex;
            flex-direction: column;
            row-gap: 32px;

            .about-company {
                width: 181px;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                color: white;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .mouse-scroll {
            position: absolute;
            width: 53px;
            height: 78px;
            border-radius: 42px;
            display: flex;
            flex-direction: column;
            z-index: 50;
            align-items: center;
            justify-content: center;
            row-gap: 5px;
            background-color: #1d1f22;
            bottom: 120px;
            left: 50%;
            transform: translate(-50%, );
            color: white;

            .mouse-scroll-img-box {
                overflow: hidden;

                .mouse-scroll-img {
                    animation: scroll-spin 1.5s ease-in-out infinite;
                }
            }

            .scroll-text {
                font-size: 10px;
                color: #F5F6F8;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        position: relative;

        .section2-title-box {
            display: flex;
            align-items: center;
            column-gap: 138px;
            position: absolute;
            top: 100px;

            .left-title-wrapper {
                position: relative;
                display: inline-block;

                .left-title {

                    font-weight: 700;
                    font-size: 34px;
                    white-space: pre-line;
                    line-height: 140%;
                    // color: white;
                    color: transparent;
                    background-image: linear-gradient(to bottom right, white 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.1) 50%);
                    background-size: 300% 300%;
                    background-clip: text;
                    -webkit-background-clip: text;
                    transition: background-position 0.3s ease;
                    position: relative;


                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: transparent;
                    font-weight: 700;
                    font-size: 34px;
                    // white-space: pre-line;
                    line-height: 140%;

                    .color-span {
                        z-index: 2;
                        color: transparent;
                        background-image: linear-gradient(to bottom right, rgba(0, 149, 255, 1) 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.1) 50%);
                        background-size: 300% 300%;
                        background-position: 100% 100%;
                        background-clip: text;
                        -webkit-background-clip: text;
                        transition: background-position 0.3s ease;
                    }
                }
            }

            .right-title {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                color: white;

                .title-text {
                    font-size: 18px;
                    font-weight: 400;
                    // white-space: pre-line;
                    line-height: 150%;

                    // br {
                    //     display: none;
                    // }
                }

                .width-dx-box {
                    width: 181px;
                    height: 52px;
                    border: 1px solid white;
                    font-size: 18px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .section3 {
        display: flex;
        justify-content: center;
        // align-items: center;
        column-gap: 28px;
        padding-bottom: 113px;
        box-sizing: border-box;

        .section3-left-box {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            color: white;

            .tb {
                display: none;
            }

            .mb {
                display: none;
            }

            .top-text {
                font-size: 34px;
                font-weight: 700;
                line-height: 140%;

                span {
                    color: #0095FF;
                }
            }

            .center-text {
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }

            .works-box {
                width: 181px;
                height: 52px;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .section3-right-box {
            display: flex;
            column-gap: 17px;

            .box {
                display: flex;
                flex-direction: column;
                row-gap: 13px;
            }

            .section3-card {
                width: 319px;
                height: 358px;
                border: 1px solid #5C6770;
                border-radius: 16px;
                box-shadow: 0px 4px 20px #295BFF99;
                display: flex;
                flex-direction: column;
                padding: 24px 24px;
                box-sizing: border-box;
                justify-content: space-between;

                .card-title {
                    font-size: 34px;
                    color: white;
                    font-weight: 700;
                }

                .card-bottom-box {
                    display: flex;
                    justify-content: space-between;

                    .arrow-btn {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        margin-top: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid white;
                    }
                }
            }

            .blockchain-card {
                position: relative;
                top: 84px;
                ;
            }
        }

    }

    .section4 {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
        padding: 94px 0px;
        box-sizing: border-box;
        background: linear-gradient(to top, #1A1B23 0%, #000000 100%);
        transition: background 0.3s ease;
        overflow: hidden;
        position: relative;


        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, rgba(0, 149, 255, 0.2) 0%, #000 100%);
            transform: translateY(100%);
            opacity: 0;
            transition: transform 0.6s ease,
                opacity 0.6s ease;
            z-index: 0;
        }

        .section4-title {
            color: white;
            font-size: 34px;
            line-height: 140%;
            text-align: center;
            font-weight: 700;

            span {
                color: #0095FF;
            }
        }

        .btn-box {
            display: flex;
            column-gap: 16px;
            align-items: center;

            .btn {
                width: 181px;
                height: 52px;
                font-size: 18px;
                font-weight: 700;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }

            .white {
                color: black;
                background-color: white;
            }
        }

        * {
            position: relative;
            z-index: 1;
        }

        &:hover::before {
            transform: translateY(0%);
            opacity: 1;
        }
    }



    .section5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 110px;
        padding-top: 167px;
        box-sizing: border-box;
        position: relative;

        .section5-title-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 16px;

            .color-title-text {
                font-size: 18px;
                font-weight: 700;
                color: #0095FF;
                text-align: center;
            }

            .sectoin5-title {
                color: white;
                line-height: 140%;
                font-size: 34px;
                text-align: center;
                font-weight: 700;

                .mb {
                    display: none;
                }
            }

            .blockchain-x {
                font-size: 18px;
                font-weight: 700;
                width: 181px;
                height: 52px;
                border: 1px solid white;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .section5-img-list {
            display: grid;
            position: absolute;
            grid-template-columns: repeat(4, 436px);
            bottom: 141px;
            justify-content: center;

            &>img {
                width: 100%;
                position: relative;
            }

            &>img:nth-child(1) {
                left: 300px;
            }

            &>img:nth-child(2) {
                left: 100px;
            }

            &>img:nth-child(3) {
                left: -100px;
            }

            &>img:nth-child(4) {
                left: -300px;
            }


        }
    }

    .section6 {
        width: 100%;
        height: 507px;
        background-image: url("../assets/section6/bg-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;

        .text-box {
            width: 1126px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            .top-text {
                color: #0095FF;
                font-size: 24px;
                font-weight: 700;
            }

            .middle-text {
                font-size: 34px;
                font-weight: 700;
                white-space: pre-line;
                line-height: 140%;
                color: white;

                br {
                    display: none;
                }

                span {
                    color: #0095FF;
                }
            }

            .careers {
                width: 181px;
                height: 52px;
                color: white;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.footer-section {
    width: 100%;
    background-color: #1A1B23;
    padding: 56px;
    box-sizing: border-box;
    color: #ABB3BA;

    .footer-nav-list {
        margin: 27px 0 12px;
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        column-gap: 25px;
        border-bottom: solid 1px #44464F;

        .footer-nav-list-item {
            font-size: 14px;
            font-weight: 400;
            color: #ABB3BA;
        }
    }

    .footer-content-container {
        margin-bottom: 40px;

        .footer-content-list {
            display: flex;
            column-gap: 32px;

            .footer-content-list-col {
                display: flex;
                flex-direction: column;
                row-gap: 6px;

                .footer-content-list-item {
                    display: flex;
                    align-items: center;
                    column-gap: 16px;
                    font-size: 13px;

                    .footer-content-list-item-title {
                        width: 80px;
                        font-weight: 700;
                    }

                    .footer-content-list-item-desc {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .footer-bottom-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer-bottom-text {
            font-size: 13px;
            font-weight: 400;
        }

        .footer-bottom-sns-list {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }
}

@media screen and (max-width:1440px) {
    .header-section {
        padding: 0 20px;

        .header-logo {
            width: 120px;
        }

        .header-nav {
            .header-nav-list {
                grid-template-columns: repeat(4, 110px);

                .header-nav-item {
                    .header-nav-link {
                        font-size: 14px;
                    }

                    .sub-nav-list {
                        .sub-nav-link {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .header-btn-section {
            gap: 8px;
        }
    }

    .main-page {
        .pc-br {
            display: none;
        }

        .section1 {
            height: 690px;

            .section1-title-box {
                width: 626px;

            }

            .mouse-scroll {
                bottom: 10px;
            }
        }

        .section2 {
            padding-top: 79px;
            padding-bottom: 142px;
            box-sizing: border-box;

            .section2-title-box {
                flex-direction: column;
                text-align: center;
                row-gap: 16px;
                position: unset;

                .width-dx-box {
                    margin: 0 auto;
                }
            }

            picture {
                img {
                    height: 480px;

                }
            }
        }

        .section3 {
            flex-direction: column;
            row-gap: 72px;
            padding: 0px 20px;
            box-sizing: border-box;

            .section3-left-box {
                text-align: center;

                .tb {
                    display: block;
                }

                .pc {
                    display: none;
                }

                .works-box {
                    margin: 0 auto;
                }
            }

            .section3-right-box {
                width: 100%;
                max-width: 1100px;
                margin: 0 auto;
                padding: 0 20px;
                box-sizing: border-box;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                column-gap: 16px;

                &::-webkit-scrollbar {
                    display: none;
                }

                .box {
                    flex-direction: unset;
                    column-gap: 16px;
                }

                .section3-card {
                    flex: 0 0 auto;
                }

                .blockchain-card {
                    position: unset;
                    top: 0;
                }
            }

        }

        .section4 {
            margin-top: 197px;
        }

        .section5 {
            .section5-title-box {
                .color-title-text {
                    font-size: 24px;
                }
            }

            .section5-img-list {
                grid-template-columns: repeat(4, 238px);
                bottom: 100px;

                &>img:nth-child(1) {
                    left: 150px;
                }

                &>img:nth-child(2) {
                    left: 50px;
                }

                &>img:nth-child(3) {
                    left: -50px;
                }

                &>img:nth-child(4) {
                    left: -150px;
                }


            }
        }

        .section6 {
            .text-box {
                width: auto;
                align-items: center;

                .middle-text {
                    text-align: center;
                }
            }

        }
    }

    .footer-section {
        padding: 38px;

        .footer-nav-list {
            margin: 24px 0 12px;
            column-gap: 16px;
        }

        .footer-content-container {
            margin-bottom: 28px;

            .footer-content-list {
                flex-direction: column;

                .footer-content-list-col {
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;

                    .footer-content-list-item {
                        font-size: 12px;

                        .footer-content-list-item-title {
                            width: 78px;
                            white-space: nowrap;
                        }

                        .footer-content-list-item-desc {
                            font-weight: 400;
                            flex: 1;
                        }
                    }
                }
            }
        }

        .footer-bottom-wrapper {
            align-items: flex-start;
            flex-direction: column-reverse;
            row-gap: 10px;
        }
    }
}

@media screen and (max-width:767px) {
    .header-section {
        .header-logo {
            width: 120px;
        }

        &>.header-nav,
        &>.header-btn-section {
            display: none;
        }

        .header-mobile-menu {
            position: fixed;
            right: -100%;
            top: 80px;
            background-color: black;
            width: 100%;
            height: calc(100% - 80px);
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            padding-bottom: 40px;
            transition: right 0.2s ease-in-out;
            overflow-x: hidden;

            .header-nav {
                .header-nav-list {
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: center;
                    justify-content: center;
                    gap: 1px;

                    .header-nav-item {
                        text-align: center;
                        display: grid;
                        height: 60px;
                        transition: height 0.2s ease-in-out;
                        width: 100%;

                        .header-nav-link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 60px;
                            width: 100%;
                        }

                        .sub-nav-list {
                            position: unset;
                            background-color: #1A1B23;

                            .sub-nav-link {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .header-btn-section {
                width: fit-content;
                display: flex;
                gap: 16px;
                margin: 0 auto;
            }
        }

        .active-mobile-menu {
            right: 0;
        }
    }

    .main-page {
        .section1 {
            height: 655px;

            .section1-title-box {
                width: 285px;
                row-gap: 24px;
                align-items: center;
            }

            .mouse-scroll {
                bottom: -90px;
            }
        }

        .section2 {
            padding-top: 250px;

            .section2-title-box {
                .left-title-wrapper {
                    .left-title {
                        font-size: 26px;
                        white-space: unset;
                        width: 220px;
                    }

                    .overlay {
                        font-size: 26px;
                        white-space: unset;
                        width: 220px;
                    }
                }

                .right-title {
                    .title-text {
                        font-size: 16px;
                        white-space: unset;

                        br {
                            display: block;
                        }
                    }
                }
            }

            picture {
                img {
                    height: auto;
                }
            }
        }

        .section3 {
            .section3-left-box {
                .top-text {
                    font-size: 26px;

                    .pc {
                        display: none;
                    }

                    .tb {
                        display: none;
                    }

                    .mb {
                        display: block;
                    }
                }

                .center-text {
                    font-size: 16px;
                }


            }

            .section3-right-box {
                flex-direction: column;
                overflow: unset;
                row-gap: 40px;
                align-items: center;

                .section3-card {
                    width: 320px;
                    height: 358px;
                }

                .box {
                    row-gap: 40px;
                    flex-direction: column;
                }
            }

        }

        .section4 {
            padding: 84px 0px;

            .section4-title {
                font-size: 26px;
            }

            .btn-box {
                flex-direction: column;
                row-gap: 16px;
            }
        }

        .section5 {
            .section5-title-box {
                .color-title-text {
                    font-size: 18px;
                }

                .sectoin5-title {
                    font-size: 26px;

                    .pc {
                        display: none;
                    }

                    .mb {
                        display: block;
                    }
                }
            }

            .section5-img-list {
                grid-template-columns: repeat(4, 105px);
                bottom: 100px;

                &>img:nth-child(1) {
                    left: 75px;
                }

                &>img:nth-child(2) {
                    left: 25px;
                }

                &>img:nth-child(3) {
                    left: -25px;
                }

                &>img:nth-child(4) {
                    left: -75px;
                }


            }
        }

        .section6 {
            .text-box {
                width: auto;
                align-items: center;
                row-gap: 24px;

                .top-text {
                    font-size: 18px;
                }

                .middle-text {
                    text-align: center;
                    font-size: 26px;
                    white-space: unset;

                    br {
                        display: block;
                    }
                }

                .careers {
                    width: 181px;
                    height: 51px;
                    font-size: 18px;
                }
            }
        }

    }

    .footer-section {
        padding: 20px;

        .footer-nav-list {
            margin: 24px 0 12px;
            column-gap: 16px;
        }

        .footer-content-container {
            margin-bottom: 28px;

            .footer-content-list {
                flex-direction: column;

                .footer-content-list-col {
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;

                    .footer-content-list-item {
                        font-size: 12px;

                        .footer-content-list-item-title {
                            width: 78px;
                            white-space: nowrap;
                        }

                        .footer-content-list-item-desc {
                            font-weight: 400;
                            flex: 1;
                        }
                    }
                }
            }
        }

        .footer-bottom-wrapper {
            align-items: flex-start;
            flex-direction: column-reverse;
            row-gap: 10px;
        }
    }
}


@media screen and (min-width: 1441px) {
    .main-page {
        .pc-br {
            display: block;
        }
    }
}



@media screen and (min-width: 768px) {
    .header-section {

        .header-nav {
            .header-nav-list {
                .header-nav-item:hover {
                    overflow: visible;


                }
            }
        }
    }



    .mb-menu,
    .mb-br,
    .mb {
        display: none !important;
    }
}