@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
html p,
body p {
  padding: 0;
  margin: 0;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.event-page {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
}
.event-page::-webkit-scrollbar {
  width: 8px;
}
.event-page::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
.event-page::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}
.event-page .banner-section {
  width: 100%;
  height: 259px;
  background-color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event-page .banner-section .banner-wrapper {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.event-page .banner-section .banner-wrapper .banner-title-box .banner-title {
  font-size: 45px;
  color: white;
  font-weight: 700;
}
.event-page .banner-section .banner-wrapper .banner-img-box {
  position: absolute;
  right: 0;
}
.event-page .event-lists-section {
  width: 100%;
  margin-top: 33px;
}
.event-page .event-lists-section .event-lists-wrapper {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input {
  width: 316px;
  height: 56px;
  border-radius: 4.22px;
  padding: 16px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #DBDBDB;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input:focus {
  outline: none;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #DBDBDB;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input::-moz-placeholder {
  font-size: 14px;
  color: #DBDBDB;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input:-ms-input-placeholder {
  font-size: 14px;
  color: #DBDBDB;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input::-ms-input-placeholder {
  font-size: 14px;
  color: #DBDBDB;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input::placeholder {
  font-size: 14px;
  color: #DBDBDB;
}
.event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box {
  width: 350px;
  height: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-img {
  width: 100%;
  height: 200px;
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-content-box {
  position: relative;
  width: 100%;
  height: 98px;
  padding: 19px 24px;
  background-color: #F5F6F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-content-box .content-title {
  font-size: 14px;
  font-weight: 700;
  color: #8F9AA3;
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-content-box .content {
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-content-box .file-icon {
  position: absolute;
  bottom: 19px;
  right: 19px;
}
.event-page .pagination-section {
  width: 1080px;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 100px;
}
.event-page .pagination-section .pagination-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.event-page .pagination-section .pagination-btn-wrapper .number-btn {
  width: 29px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
}
.event-page .pagination-section .pagination-btn-wrapper .number-btn .number {
  font-size: 15px;
  font-weight: 600;
  color: #949494;
}

@media screen and (max-width: 1440px) {
  .event-page .banner-section .banner-wrapper {
    width: 100%;
    margin: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .event-page .banner-section .banner-wrapper .banner-title-box {
    z-index: 1;
  }
  .event-page .event-lists-section .event-lists-wrapper {
    width: 682px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-search-form .search-input-box .search-input {
    width: 316px;
    height: 56px;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-search-form .search-input-box .search-img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .event-page .event-lists-section .event-lists-wrapper .event-card-wrapper {
    gap: 10px;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box {
    width: 336px;
  }
  .event-page .pagination-section {
    width: 688px;
  }
}
@media screen and (max-width: 767px) {
  .event-page .banner-section .banner-wrapper {
    width: 100%;
    margin: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .event-page .banner-section .banner-wrapper .banner-title-box {
    z-index: 1;
  }
  .event-page .banner-section .banner-wrapper .banner-title-box .banner-title {
    font-size: 30px;
  }
  .event-page .banner-section .banner-wrapper .banner-img-box {
    width: 384px;
    bottom: 0;
  }
  .event-page .banner-section .banner-wrapper .banner-img-box img {
    width: auto;
  }
  .event-page .event-lists-section .event-lists-wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-input {
    width: 100%;
    height: 50px;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-search-form .event-input-box .search-img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .event-page .event-lists-section .event-lists-wrapper .event-card-wrapper {
    gap: 10px;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-img {
    height: 193px;
  }
  .event-page .event-lists-section .event-lists-wrapper .event-card-wrapper .event-card-box .event-content-box {
    height: 110px;
  }
  .event-page .pagination-section {
    width: 320px;
  }
}