@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  background-color: black;
  overflow: hidden;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes scroll-spin {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes scroll-spin {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
/** 공통 헤더 **/
.header-section {
  z-index: 200;
  background-color: black;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-section .header-logo {
  width: 178px;
}
.header-section .header-logo img {
  width: 100%;
}
.header-section .header-nav .header-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: unset;
}
.header-section .header-nav .header-nav-list .header-nav-item {
  position: relative;
  display: grid;
  height: 80px;
  overflow: hidden;
}
.header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header-section .header-btn-section .header-btn-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.header-section .header-btn-section > hr {
  height: 16px;
  background-color: white;
}

.badge-page {
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.badge-page::-webkit-scrollbar {
  width: 8px;
}
.badge-page::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
.badge-page::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}
.badge-page .badge-digital-badge-section {
  background-color: black;
  width: 100%;
  height: 1070px;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .gradient-line {
  position: absolute;
  top: 45%;
  /* 가운데 정렬 */
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 195, 255, 0)), color-stop(50%, rgba(0, 195, 255, 0.6)), to(rgba(0, 195, 255, 0)));
  background: linear-gradient(to bottom, rgba(0, 195, 255, 0) 0%, rgba(0, 195, 255, 0.6) 50%, rgba(0, 195, 255, 0) 100%);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: 1;
  pointer-events: none;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-back-img {
  position: absolute;
  top: 49px;
  z-index: 2;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-back-img::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.6)), color-stop(80%, rgb(0, 0, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgb(0, 0, 0) 80%, rgb(0, 0, 0) 100%);
  pointer-events: none;
  z-index: 2;
  will-change: opacity, transform;
  mix-blend-mode: normal;
  /* or unset */
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content {
  position: relative;
  z-index: 10;
  text-align: center;
  justify-self: flex-end;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-tag {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  margin: 16px 0;
  color: white;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-title .title-color {
  color: #00C3FF;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #ABB3BA;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-top-download-btn {
  width: 181px;
  height: 52px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: solid 1px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 50px;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40%;
  width: 53px;
  height: 78px;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section .badge-scroll-section-img {
  overflow: hidden;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section .badge-scroll-section-img .scroll-img {
  -webkit-animation: scroll-spin 1.5s ease-in-out infinite;
          animation: scroll-spin 1.5s ease-in-out infinite;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section .badge-scroll-section-text {
  color: white;
  font-size: 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
  padding: 76px 0 109px;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content .badge-digital-badge-bottom-tag {
  font-size: 24px;
  font-weight: bold;
  color: #00C3FF;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content .badge-digital-badge-bottom-title {
  font-size: 34px;
  color: white;
  font-weight: bold;
  margin: 11px 0 16px;
}
.badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content .badge-digital-badge-bottom-desc {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 150%;
  text-align: center;
}
.badge-page .badge-why-section {
  padding: 156px 0 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 48px;
}
.badge-page .badge-why-section .badge-why-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-why-section .badge-why-content .badge-why-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-why-section .badge-why-content .badge-why-title {
  font-size: 45px;
  font-weight: 300;
  line-height: 140%;
  color: white;
}
.badge-page .badge-solution-section {
  padding-bottom: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 41px;
  position: relative;
}
.badge-page .badge-solution-section .badge-solution-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 8px;
}
.badge-page .badge-solution-section .badge-solution-content .badge-solution-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-solution-section .badge-solution-content .badge-solution-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  color: white;
}
.badge-page .badge-solution-section .badge-solution-content .badge-solution-title .title-color {
  color: #00C3FF;
}
.badge-page .badge-solution-section .badge-solution-content .badge-solution-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #ABB3BA;
}
.badge-page .badge-solution-section .badge-solution-img {
  position: relative;
  z-index: 10;
}
.badge-page .badge-solution-section .gradient-line {
  position: absolute;
  bottom: 30%;
  /* 가운데 정렬 */
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 195, 255, 0)), color-stop(50%, rgba(0, 195, 255, 0.6)), to(rgba(0, 195, 255, 0)));
  background: linear-gradient(to bottom, rgba(0, 195, 255, 0) 0%, rgba(0, 195, 255, 0.6) 50%, rgba(0, 195, 255, 0) 100%);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: 1;
  pointer-events: none;
}
.badge-page .badge-product-section {
  padding-bottom: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-product-section .badge-product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
}
.badge-page .badge-product-section .badge-product-content .badge-product-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-product-section .badge-product-content .badge-product-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  color: white;
  text-align: center;
}
.badge-page .badge-detail-section {
  padding: 167px 0 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F6F8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.badge-page .badge-detail-section .badge-detail-content {
  width: 450px;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
  margin-bottom: 12px;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-title {
  white-space: pre-line;
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  color: black;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-btn-list {
  margin: 61px 0 37px;
  display: grid;
  row-gap: 18px;
  grid-template-columns: 257px;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-btn-list .badge-detail-btn-item {
  width: 100%;
  height: 58px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1.75px 17.46px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1.75px 17.46px rgba(0, 0, 0, 0.13);
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-btn-list .detail-active-btn {
  background-color: #00C3FF;
  color: white;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-desc .badge-detail-desc-title {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-detail-section .badge-detail-content .badge-detail-desc .badge-detail-desc-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: black;
}
.badge-page .badge-detail-section .detail-img-wrapper {
  width: 940px;
  position: relative;
}
.badge-page .badge-detail-section .detail-img-wrapper .badge-detail-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.badge-page .badge-detail-section .detail-img-wrapper .now-detail-img {
  -webkit-animation: fadeIn 0.3s ease-in-out forwards;
          animation: fadeIn 0.3s ease-in-out forwards;
  z-index: 1;
}
.badge-page .badge-point-section {
  padding: 137px 0 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.badge-page .badge-point-section .badge-point-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-point-section .badge-point-content .badge-point-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
  margin-bottom: 4px;
}
.badge-page .badge-point-section .badge-point-content .badge-point-title {
  font-size: 45px;
  font-weight: 700;
  color: black;
}
.badge-page .badge-point-section .badge-point-content .badge-point-list {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 16px;
  margin-top: 32px;
}
.badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  background-color: #1A1B23;
  border-radius: 10px;
  padding: 26px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-content .badge-point-item-title {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-content .badge-point-item-desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: white;
}
.badge-page .badge-interview-section {
  padding: 106px 0 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F6F8;
}
.badge-page .badge-interview-section .badge-interview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  color: black;
  text-align: center;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper > button {
  width: 45px;
  height: 45px;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-btn-next {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 519px;
  width: 1031px;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container .badge-interview-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  will-change: transform;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container .badge-interview-list .badge-interview-item {
  min-width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-page {
  margin-top: 43px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  grid-template-columns: repeat(3, 13px);
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-page .badge-interview-page-item {
  width: 13px;
  height: 13px;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.badge-page .badge-interview-section .badge-interview-content .badge-interview-page .active-page-item {
  background-color: #00C3FF;
}
.badge-page .badge-effect-section {
  padding: 109px 0 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.badge-page .badge-effect-section .badge-effect-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
  margin-bottom: 4px;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-title {
  font-size: 45px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 140%;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-list {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 395px);
  gap: 16px;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item {
  height: 519px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 195, 255, 0.5)), color-stop(30%, rgba(0, 195, 255, 0))), #0A0E1A;
  background: linear-gradient(to top, rgba(0, 195, 255, 0.5) 5%, rgba(0, 195, 255, 0) 30%), #0A0E1A;
  /* 메인 백그라운드 컬러 */
  border-radius: 12px;
  padding: 30px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-title {
  font-size: 80px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-content {
  font-size: 26px;
  font-weight: 700;
  color: white;
  line-height: 140%;
  height: 150px;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-content .color-text {
  color: #00C3FF;
}
.badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: white;
  white-space: pre-line;
}
.badge-page .badge-nav-contract-section {
  width: 100%;
  height: 477px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-image-set(url(../assets/badge/contract-nav-img.png) 1x, url(../assets/badge/contract-nav-img@2x.png) 2x, url(../assets/badge/contract-nav-img@3x.png) 3x);
  background-image: image-set(url(../assets/badge/contract-nav-img.png) 1x, url(../assets/badge/contract-nav-img@2x.png) 2x, url(../assets/badge/contract-nav-img@3x.png) 3x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.badge-page .badge-nav-contract-section .badge-nav-contract-content {
  width: 1215px;
}
.badge-page .badge-nav-contract-section .badge-nav-contract-content .badge-nav-contract-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
  color: white;
}
.badge-page .badge-nav-contract-section .badge-nav-contract-content .badge-nav-contract-btn {
  margin-top: 24px;
  width: 181px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: solid 1px white;
}
.badge-page .badge-faq-section {
  width: 100%;
  min-height: 1000px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 110px 0 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.badge-page .badge-faq-section .badge-faq-content {
  width: 1215px;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-tag {
  font-size: 24px;
  font-weight: 700;
  color: #00C3FF;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-title {
  font-size: 45px;
  font-weight: 700;
  color: black;
  margin: 4px 0 43px;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-search {
  width: 460px;
  height: 50px;
  border: 1px solid #DBDBDB;
  padding: 0 16px 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-search input {
  width: 100%;
  border: none;
  outline: none;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list .badge-faq-list-item {
  width: 100%;
  max-height: 64px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list .badge-faq-list-item .badge-faq-list-item-title-wrapper {
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #DBDBDB;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list .badge-faq-list-item .badge-faq-list-item-title-wrapper .badge-faq-list-item-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list .badge-faq-list-item .badge-faq-list-item-title-wrapper .badge-faq-list-item-title-section .badge-faq-list-item-title {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list .badge-faq-list-item .badge-faq-list-item-content {
  width: 100%;
  background-color: #F5F6F8;
  line-height: 180%;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  padding: 20px;
  /* 항상 유지 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list > .active {
  max-height: 1000px;
}
.badge-page .badge-faq-section .badge-faq-content .badge-faq-list > .active .badge-faq-list-item-title-wrapper .badge-faq-list-item-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.footer-section {
  width: 100%;
  height: 373px;
  background-color: #1A1B23;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ABB3BA;
}
.footer-section .footer-nav-list {
  margin: 27px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  border-bottom: solid 1px #44464F;
}
.footer-section .footer-nav-list .footer-nav-list-item {
  font-size: 14px;
  font-weight: 400;
  color: #ABB3BA;
}
.footer-section .footer-content-container {
  margin-bottom: 40px;
}
.footer-section .footer-content-container .footer-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 13px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
  width: 80px;
  font-weight: 700;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section .footer-bottom-wrapper .footer-bottom-text {
  font-size: 13px;
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper .footer-bottom-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

@media screen and (max-width: 1440px) {
  .header-section {
    padding: 0 20px;
  }
  .header-section .header-logo {
    width: 120px;
  }
  .header-section .header-nav .header-nav-list {
    grid-template-columns: repeat(4, 110px);
  }
  .header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 14px;
  }
  .header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 12px;
  }
  .header-section .header-btn-section {
    gap: 8px;
  }
  .badge-page .badge-digital-badge-section {
    height: 930px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .gradient-line {
    top: 30%;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-back-img {
    position: absolute;
    top: -8%;
    z-index: 2;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content {
    position: relative;
    z-index: 10;
    text-align: center;
    justify-self: flex-end;
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-tag {
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 140%;
    margin: 16px 0;
    color: white;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-title .title-color {
    color: #00C3FF;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #ABB3BA;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-top-download-btn {
    width: 181px;
    height: 52px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: solid 1px white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 24px 0 50px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40%;
    width: 53px;
    height: 78px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section .badge-scroll-section-img {
    overflow: hidden;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section .badge-scroll-section-img .scroll-img {
    -webkit-animation: scroll-spin 1.5s ease-in-out infinite;
            animation: scroll-spin 1.5s ease-in-out infinite;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-scroll-section .badge-scroll-section-text {
    color: white;
    font-size: 10px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
  .badge-page .badge-detail-section {
    padding: 186px 0 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .badge-page .badge-detail-section .badge-detail-content {
    width: 710px;
    text-align: center;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-title {
    white-space: normal;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-title > br {
    display: none;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-btn-list {
    margin: 32px 0 48px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    grid-template-columns: 200px 207px 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-btn-list .badge-detail-btn-item {
    font-size: 18px;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4px;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-desc .badge-detail-desc-title {
    font-size: 24px;
    font-weight: 700;
    color: #00C3FF;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-desc .badge-detail-desc-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: black;
  }
  .badge-page .badge-detail-section .detail-img-wrapper {
    width: 720px;
    height: 502px;
  }
  .badge-page .badge-point-section {
    padding: 186px 0 220px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list {
    grid-template-columns: 600px;
    gap: 8px;
  }
  .badge-page .badge-interview-section {
    padding: 186px 0 172px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container {
    height: 644px;
    width: 580px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-page {
    margin-top: 32px;
    grid-template-columns: repeat(3, 12px);
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-page .badge-interview-page-item {
    width: 12px;
    height: 12px;
  }
  .badge-page .badge-effect-section {
    padding: 186px 0 222px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list {
    margin-top: 32px;
    grid-template-columns: 720px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item {
    height: 329px;
    padding: 32px 28px;
    position: relative;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-content {
    height: unset;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-desc {
    position: absolute;
    bottom: 32px;
    right: 60px;
  }
  .badge-page .badge-nav-contract-section .badge-nav-contract-content {
    width: 700px;
  }
  .badge-page .badge-nav-contract-section .badge-nav-contract-content .badge-nav-contract-title {
    text-align: center;
    margin-bottom: 24px;
  }
  .badge-page .badge-nav-contract-section .badge-nav-contract-content .badge-nav-contract-btn {
    margin: 0 auto;
  }
  .badge-page .badge-faq-section {
    padding: 140px 0;
    min-height: 1100px;
  }
  .badge-page .badge-faq-section .badge-faq-content {
    width: 720px;
  }
  .badge-page .badge-faq-section .badge-faq-content .badge-faq-tag {
    text-align: center;
  }
  .badge-page .badge-faq-section .badge-faq-content .badge-faq-title {
    text-align: center;
  }
  .badge-page .badge-faq-section .badge-faq-content .badge-faq-search {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .header-section .header-nav .header-nav-list .header-nav-item:hover {
    overflow: visible;
  }
  #badge-container {
    display: none;
  }
  .mb-br,
  .badge-product-info-item-img-mb {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-section .header-logo {
    width: 120px;
  }
  .header-section > .header-nav, .header-section > .header-btn-section {
    display: none;
  }
  .header-section .header-mobile-menu {
    position: fixed;
    right: -100%;
    top: 80px;
    background-color: black;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 40px;
    -webkit-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
    overflow-x: hidden;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1px;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item {
    text-align: center;
    display: grid;
    height: 60px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .header-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list {
    position: unset;
    background-color: #1A1B23;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 14px;
  }
  .header-section .header-mobile-menu .header-btn-section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin: 0 auto;
  }
  .header-section .active-mobile-menu {
    right: 0;
  }
  .badge-page .badge-digital-badge-section {
    height: 800px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .gradient-line {
    top: 20%;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-back-img {
    top: 0;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-back-img > img {
    width: 520px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-back-img::after {
    height: 200px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-tag {
    font-size: 16px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-title {
    font-size: 30px;
    margin: 8px 0 20px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-top .badge-digital-badge-top-content .badge-digital-badge-desc {
    font-size: 14px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 16px;
    padding: 76px 0 109px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content .badge-digital-badge-bottom-tag {
    font-size: 24px;
    font-weight: bold;
    color: #00C3FF;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content .badge-digital-badge-bottom-title {
    font-size: 34px;
    color: white;
    font-weight: bold;
    margin: 11px 0 16px;
  }
  .badge-page .badge-digital-badge-section .badge-digital-badge-bottom .badge-digital-badge-bottom-content .badge-digital-badge-bottom-desc {
    font-size: 16px;
    font-weight: 300;
    color: white;
    line-height: 150%;
    text-align: center;
  }
  .badge-page .badge-why-section {
    padding: 186px 0;
    row-gap: 24px;
  }
  .badge-page .badge-why-section .badge-why-content .badge-why-tag {
    font-size: 18px;
  }
  .badge-page .badge-why-section .badge-why-content .badge-why-title {
    font-size: 30px;
  }
  .badge-page .badge-solution-section {
    padding-bottom: 186px;
  }
  .badge-page .badge-solution-section .badge-solution-content .badge-solution-tag {
    font-size: 18px;
  }
  .badge-page .badge-solution-section .badge-solution-content .badge-solution-title {
    font-size: 30px;
  }
  .badge-page .badge-solution-section .badge-solution-content .badge-solution-desc {
    font-size: 14px;
  }
  .badge-page .badge-product-section .badge-product-content .badge-product-tag {
    font-size: 18px;
  }
  .badge-page .badge-product-section .badge-product-content .badge-product-title {
    font-size: 30px;
  }
  .badge-page .badge-detail-section {
    padding: 177px 20px;
    width: 100%;
    height: 1069px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    row-gap: 16px;
  }
  .badge-page .badge-detail-section .badge-detail-content {
    width: 230px;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-tag {
    font-size: 18px;
    font-weight: 700;
    color: #00C3FF;
    margin-bottom: 8px;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-desc {
    row-gap: 16px;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-desc .badge-detail-desc-title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    line-height: 140%;
    white-space: pre-line;
  }
  .badge-page .badge-detail-section .badge-detail-content .badge-detail-desc .badge-detail-desc-text {
    font-size: 16px;
  }
  .badge-page .badge-detail-section .detail-img-wrapper {
    width: calc(100% - 40px);
    height: unset;
  }
  .badge-page .badge-detail-section:nth-child(2) {
    background-color: white;
  }
  .badge-page #badge-section-template {
    display: none;
  }
  .badge-page .badge-point-section {
    padding: 106px 0 137px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-tag {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-title {
    font-size: 30px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list {
    grid-template-columns: 320px;
    gap: 8px;
    margin-top: 16px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item {
    background-color: #1A1B23;
    border-radius: 10px;
    padding: 16px 4px 19px 16px;
    position: relative;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-img {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 45px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    padding-top: 8px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-content .badge-point-item-title {
    padding-left: 52px;
  }
  .badge-page .badge-point-section .badge-point-content .badge-point-list .badge-point-item .badge-point-item-content .badge-point-item-desc {
    font-size: 14px;
  }
  .badge-page .badge-interview-section {
    padding: 106px 0 107px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-tag {
    font-size: 18px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-title {
    font-size: 30px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper {
    margin-top: 24px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper > button {
    display: none;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: scroll;
    height: 439px;
    width: 100vw;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container .badge-interview-list {
    -webkit-transform: unset !important;
            transform: unset !important;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-wrapper .badge-interview-list-container .badge-interview-list .badge-interview-item {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    -ms-flex-negative: unset;
        flex-shrink: unset;
  }
  .badge-page .badge-interview-section .badge-interview-content .badge-interview-page {
    margin-top: 32px;
  }
  .badge-page .badge-effect-section {
    padding: 104px 0 117px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-tag {
    font-size: 18px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-title {
    font-size: 30px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list {
    margin-top: 32px;
    grid-template-columns: 320px;
    gap: 24px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item {
    height: 415px;
    border-radius: 12px;
    padding: 32px 30px;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-content {
    font-size: 24px;
    height: unset;
  }
  .badge-page .badge-effect-section .badge-effect-content .badge-effect-list .badge-effect-list-item .badge-effect-list-item-desc {
    position: unset;
    font-size: 14px;
  }
  .badge-page .badge-nav-contract-section {
    height: 420px;
    background-image: -webkit-image-set(url(../assets/badge/contract-nav-img-mb.png) 1x, url(../assets/badge/contract-nav-img-mb@2x.png) 2x, url(../assets/badge/contract-nav-img-mb@3x.png) 3x);
    background-image: image-set(url(../assets/badge/contract-nav-img-mb.png) 1x, url(../assets/badge/contract-nav-img-mb@2x.png) 2x, url(../assets/badge/contract-nav-img-mb@3x.png) 3x);
  }
  .badge-page .badge-nav-contract-section .badge-nav-contract-content {
    width: 300px;
  }
  .badge-page .badge-nav-contract-section .badge-nav-contract-content .badge-nav-contract-title {
    font-size: 30px;
  }
  .badge-page .badge-faq-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 100px 0;
  }
  .badge-page .badge-faq-section .badge-faq-content {
    width: 320px;
  }
  .badge-page .badge-faq-section .badge-faq-content .badge-faq-tag {
    font-size: 18px;
  }
  .badge-page .badge-faq-section .badge-faq-content .badge-faq-title {
    font-size: 30px;
    margin: 4px 0 32px;
  }
  .badge-page .badge-faq-section .badge-faq-content .badge-faq-search {
    width: 100%;
    padding: 0 12px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .footer-section {
    height: 467px;
    padding: 20px;
  }
  .footer-section .footer-nav-list {
    margin: 24px 0 12px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer-section .footer-content-container {
    margin-bottom: 28px;
  }
  .footer-section .footer-content-container .footer-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
    font-size: 12px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
    width: 78px;
    white-space: nowrap;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-section .footer-bottom-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
  .mb-br {
    display: block;
  }
}