@charset "UTF-8";
/** 공통 헤더 **/
.header-section {
  z-index: 200;
  background-color: black;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-section .header-logo {
  width: 178px;
}
.header-section .header-logo img {
  width: 178px;
}
.header-section .header-nav .header-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: unset;
}
.header-section .header-nav .header-nav-list .header-nav-item {
  position: relative;
  display: grid;
  height: 80px;
  overflow: hidden;
}
.header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header-section .header-btn-section .header-btn-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.header-section .header-btn-section .header-btn-item .header-lang-icon {
  width: 21px;
}
.header-section .header-btn-section > hr {
  height: 16px;
  background-color: white;
}

@media screen and (max-width: 1440px) {
  .header-section {
    padding: 0 20px;
  }
  .header-section .header-logo {
    width: 120px;
  }
  .header-section .header-logo img {
    width: 120px;
  }
  .header-section .header-nav .header-nav-list {
    grid-template-columns: repeat(4, 110px);
  }
  .header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 14px;
  }
  .header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 12px;
  }
  .header-section .header-btn-section {
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-section .header-nav .header-nav-list .header-nav-item:hover {
    overflow: visible;
  }
}
@media screen and (max-width: 768px) {
  .header-section > .header-nav, .header-section > .header-btn-section {
    display: none;
  }
  .header-section .header-mobile-menu {
    position: fixed;
    right: -100%;
    top: 80px;
    background-color: black;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 40px;
    -webkit-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
    overflow-x: hidden;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1px;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item {
    text-align: center;
    display: grid;
    height: 60px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .header-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list {
    position: unset;
    background-color: #1A1B23;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 14px;
  }
  .header-section .header-mobile-menu .header-btn-section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin: 0 auto;
  }
  .header-section .active-mobile-menu {
    right: 0;
  }
}