@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
html h2,
html ul,
html p,
body h2,
body ul,
body p {
  padding: 0;
  margin: 0;
}
html li,
body li {
  outline: none;
  list-style: none;
}
html a,
body a {
  text-decoration: none;
}

.cont {
  display: none;
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
}
main::-webkit-scrollbar {
  width: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
main::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.location-page .menu-bar-section {
  position: sticky;
  top: 0;
  background-color: black;
  border-bottom: 1px solid #8F9AA3;
  z-index: 50;
}
.location-page .menu-bar-section .menu-lists-wrapper {
  width: 1254px;
  margin: 0 auto;
}
.location-page .menu-bar-section .menu-lists-wrapper .menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list {
  width: 209px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
}
.location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list img {
  display: none;
}
.location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list a {
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.location-page .menu-bar-section .menu-lists-wrapper .menu-lists .now-list {
  border-bottom: 2px solid #0095FF;
}
.location-page .banner-section {
  height: 537px;
  background-image: -webkit-image-set(url(../assets/bannner/banner-img.png) 1x, url(../assets/bannner/banner-img@2x.png) 2x, url(../assets/bannner/banner-img@3x.png) 3x);
  background-image: image-set(url(../assets/bannner/banner-img.png) 1x, url(../assets/bannner/banner-img@2x.png) 2x, url(../assets/bannner/banner-img@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.location-page .map-section {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -250px;
}
.location-page .map-section .map-title-box {
  margin-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.location-page .map-section .map-title-box .map-color-text {
  color: #0095FF;
  font-size: 18px;
  font-weight: 700;
}
.location-page .map-section .map-title-box .map-text {
  font-size: 34px;
  color: white;
  line-height: 140%;
  font-weight: 700;
}
.location-page .map-section .map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 112px;
  margin-top: 83px;
}
.location-page .map-section .map-wrapper .map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.location-page .map-section .map-wrapper .map-box .map-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 572px;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-title {
  font-size: 26px;
  padding-bottom: 14px;
  border-bottom: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box {
  height: 100%;
  padding-top: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  color: white;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-title {
  width: 60px;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-content {
  font-weight: 400;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box .bus-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box .bus-number .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box .bus-number .number-box .box {
  width: 36px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box .bus-number .number-box .blue {
  background-color: #0095FF;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box .bus-number .number-box .green {
  background-color: #00CD0E;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .custom-box .custom-bus-box .bus-number .number-box .red {
  background-color: #C10000;
}
.location-page .map-section .map-wrapper .map-box .map-info-box .info-box .address-copy-box {
  width: 110px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid white;
}

@media screen and (max-width: 1440px) {
  .location-page .menu-bar-section .menu-lists-wrapper {
    width: 684px;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-list {
    width: 112px;
  }
  .location-page #daumRoughmapContainer1747978801926 {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
  }
  .location-page #daumRoughmapContainer1747978801926 .root_daum_roughmap_landing {
    width: 100% !important;
  }
  .location-page #daumRoughmapContainer1747978437077 {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
  }
  .location-page #daumRoughmapContainer1747978437077 .root_daum_roughmap_landing {
    width: 100% !important;
  }
  .location-page #daumRoughmapContainer1747978845759 {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
  }
  .location-page #daumRoughmapContainer1747978845759 .root_daum_roughmap_landing {
    width: 100% !important;
  }
  .location-page .map-section {
    width: 720px;
  }
  .location-page .map-section .map-title-box .map-text br {
    display: none;
  }
  .location-page .map-section .map-wrapper .map-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location-page .map-section .map-wrapper .map-box .map-info-box {
    width: 100%;
    margin-top: 16px;
  }
  .location-page .map-section .map-wrapper .map-box .map-info-box .info-box .address-copy-box {
    margin-top: 31px;
  }
}
@media screen and (max-width: 767px) {
  .location-page .banner-section {
    height: 300px;
    margin-top: 50px;
  }
  .location-page .menu-bar-section {
    width: 100%;
    position: fixed;
    top: 80px;
    background-color: black;
    padding: unset;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 100;
    border-bottom: unset;
  }
  .location-page .menu-bar-section .menu-lists-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: unset;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-lists {
    display: grid;
    row-gap: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 520px;
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-lists.closed {
    max-height: 52px;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list {
    height: 52px;
    width: 100%;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) {
    position: relative;
    padding-bottom: 12px;
    border-bottom: unset;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) a {
    color: #0095FF;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) .arrow {
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
  }
  .location-page .menu-bar-section .menu-lists-wrapper .closed .menu-list:nth-child(1) a {
    color: white;
  }
  .location-page .menu-bar-section .arrow {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .location-page .menu-bar-section .arrow.rotate {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .location-page .desktop-menu {
    display: none !important;
  }
  .location-page .map-section {
    width: auto;
    margin-top: 150px;
    padding: 0px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .location-page .map-section .map-wrapper {
    row-gap: 100px;
  }
  .location-page .map-section .map-wrapper .map-box .map-info-box {
    width: 100%;
  }
  .location-page .map-section .map-title-box {
    width: 100%;
    margin-top: 0px;
    position: absolute;
    top: -70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    row-gap: 16px;
  }
  .location-page .map-section .map-title-box .map-text {
    font-size: 26px;
  }
  .location-page .map-section .map-title-box .map-text br {
    display: none;
  }
  .location-page .map-section .map-wrapper .map-info-box .info-box .custom-box .custom-content {
    font-size: 16px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .location-page .map-section .map-wrapper .map-info-box .info-box .custom-box .custom-bus-box .bus-number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
  .location-page .map-section .map-wrapper .map-info-box .info-box .address-copy-box {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .mb-menu,
  .mb-br {
    display: none !important;
  }
}