html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard", sans-serif;
    background-color: black;

    h2,
    ul,
    p {
        padding: 0;
        margin: 0;
    }

    li {
        outline: none;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button,
a,
label {
    padding: unset;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background-color: unset;
    color: black;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
        transition: 0.2s ease-in-out;
    }
}

@keyframes scroll-spin {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-0);
    }

    100% {
        transform: translateY(100px);
    }
}

.mission-page {
    display: flex;
    flex-direction: column;

    .banner-section {
        height: 753px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../assets/banner/banner-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .banner-text-wrapper {
            width: 486px;
            display: flex;
            flex-direction: column;
            row-gap: 17px;
            padding-top: 212px;
            box-sizing: border-box;

            .banner-title-box {
                color: white;
                font-size: 34px;
                font-weight: 700;
                text-align: center;
                line-height: 140%;

                br {
                    display: none;
                }

                span {
                    color: #0095FF
                }
            }

            .banner-sub-title {
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                color: #FFFFFF;
                text-align: center;

                br {
                    display: none;
                }
            }

            .mouse-scroll {
                width: 53px;
                height: 78px;
                border-radius: 42px;
                display: flex;
                flex-direction: column;
                z-index: 999;
                align-items: center;
                justify-content: center;
                row-gap: 5px;
                background-color: #1d1f22;
                position: absolute;
                bottom: 241px;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;

                .mouse-scroll-img-box {
                    overflow: hidden;

                    .mouse-scroll-img {
                        animation: scroll-spin 1.5s ease-in-out infinite;
                    }
                }

                .scroll-text {
                    font-size: 10px;
                    color: #F5F6F8;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }



        .banner-logo-img {
            width: 100%;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            bottom: 0;
        }
    }

    .menu-bar-section {
        border-bottom: 1px solid #8F9AA3;

        .menu-lists-wrapper {
            width: 1254px;
            margin: 0 auto;
            margin-top: 40px;

            .menu-lists {
                display: flex;

                .menu-list:nth-child(1) {
                    border-bottom: 2px solid #0095FF;
                }

                .menu-list {
                    width: 209px;
                    text-align: center;
                    padding-bottom: 12px;
                    box-sizing: border-box;

                    a {
                        font-size: 18px;
                        font-weight: 700;
                        color: white;
                    }
                }
            }
        }
    }

    .mission-section1 {
        width: 1254px;
        height: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;

        .text-wrapper {
            padding-top: 290px;
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            .title-text {
                color: white;
                white-space: pre-line;
                font-size: 45px;
                font-weight: 700;
                line-height: 140%;
                text-align: center;
            }

            .sub-text {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                text-align: center;

                p {
                    .mb {
                        display: none;
                    }

                    color: white;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }

        img {
            position: absolute;
        }

        .img1 {
            width: 296px;
            top: 194px;
            left: 0;
        }

        .img2 {
            width: 395px;
            top: 75px;
            right: 72px;
        }

        .img3 {
            width: 397px;
            top: 365px;
            left: -130px;
        }

        .img4 {
            width: 444px;
            top: 448px;
            right: -93px;
        }
    }

    .mission-section2 {
        margin-top: 150px;
        position: relative;
        padding-bottom: 126px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gradient-line {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 384px;
            background: linear-gradient(to bottom,
                    rgba(60, 106, 178, 0) 0%,
                    rgba(60, 106, 178, 0.5) 50%,
                    rgba(60, 106, 178, 0) 100%);
            filter: blur(12px);
            z-index: 0;
            pointer-events: none;
        }

        .text-box {
            width: 100%;
            position: relative;
            z-index: 999;

            .text {
                position: relative;
                text-align: center;
                font-size: 34px;
                font-weight: 700;
                line-height: 140%;
                color: white;

                span {
                    color: #0095FF;
                }
            }
        }

        .img-wrapper {
            width: 1200px;
            margin-top: 62px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: 24px;
            column-gap: 16px;

            .card {
                width: 555px;
                height: 403px;
                border-radius: 8px;
                border: 1px solid #5C6770;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 4px 20px #295BFF99;

                img {}

                .card-content {
                    height: 161px;
                    padding: 26px 29px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    row-gap: 12px;

                    .title {
                        font-size: 26px;
                        font-weight: 700;
                    }

                    .sub-title {
                        font-weight: 400;
                        line-height: 140%;
                        white-space: pre-line;
                    }
                }
            }
        }
    }

    .mission-section3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 297px;

        .mission-top-banner-box {
            width: 100%;
            height: 403px;
            background-image: url("../assets/section3/bg-banner.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            justify-content: center;
            align-items: center;

            .banner-title {
                font-size: 100px;
                font-weight: 700;
                background: linear-gradient(90deg, #3CB8B7 0%, #0095FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                br{
                    display: none;
                }
                /* for Firefox */
                color: transparent;
            }

            .banner-sub-title {
                font-size: 34px;
                font-weight: 700;
                color: white;
                br{
                    display: none;
                }
            }
        }

        .blockchan-info-wrapper {
            padding-top: 69px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 125px;

            .blockchan-card {
                display: flex;
                column-gap: 40px;
                align-items: center;

                .left-card {
                    display: flex;
                    flex-direction: column;
                    row-gap: 12px;
                    color: white;

                    .card-title {
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 140%;
                        white-space: pre-line;
                    }

                    .card-sub-title {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 140%;
                        white-space: pre-line;
                        line-height: 150%;
                    }
                }

                .right-card {}
            }

            .blockchan-card:nth-child(2) {
                .left-card {
                    order: 2;
                }
            }
        }
    }

    .mission-section4 {
        width: 100%;
        height: 507px;
        background-image: url("../assets/section4/bg-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;

        .text-box {
            width: 1126px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            .top-text {
                color: #0095FF;
                font-size: 24px;
                font-weight: 700;
            }

            .middle-text {
                font-size: 34px;
                font-weight: 700;
                white-space: pre-line;
                line-height: 140%;
                color: white;
                br{
                    display: none;
                }
                span {
                    color: #0095FF;
                }
            }

            .careers {
                width: 181px;
                height: 52px;
                color: white;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:1439px) and (min-width:768px) {
    .mission-page {
        .menu-bar-section {
            .menu-lists-wrapper {
                width: 684px;
                margin-top: 70px;

                .menu-list {
                    width: 112px;
                }
            }
        }

        .mission-section1 {
            width: 684px;
            margin-top: 80px;

            .text-wrapper {
                z-index: 999;
            }

            .img1 {
                width: 184px;
                height: 133px;
                left: 120px;
            }

            .img2 {
                width: 244px;
                height: 194px;
                top: 70px;
            }

            .img3 {
                width: 245px;
                height: 199px;
                left: 40px;
                top: 620px;
            }

            .img4 {
                width: 275px;
                height: 218px;
                ;
                top: 650px;
                right: 30px;
            }
        }

        .mission-section2 {
            margin-top: 260px;

            .img-wrapper {
                flex-wrap: nowrap;
                flex-direction: column;
            }
        }

        .mission-section3 {
            .mission-top-banner-box {
                .banner-title {
                    width: 677px;
                    text-align: center;
                }

            }

            .blockchan-info-wrapper {
                width: 720px;
                margin: 0 auto;

                .blockchan-card {
                    .right-card {
                        img {
                            width: 270px;
                            height: 333px;
                        }
                    }
                }
            }
        }

        .mission-section4 {
            .text-box {
                width: auto;
                align-items: center;

                .middle-text {
                    text-align: center;
                }
            }

        }
    }
}

@media screen and (max-width:767px) {
    .mission-page {
        width: 100%;

        .banner-section {
            height: 522px;

            .banner-text-wrapper {
                width: 319px;

                .banner-title-box {
                    font-size: 26px;

                    br {
                        display: block;
                    }
                }

                .banner-sub-title {
                    font-size: 14px;

                    br {
                        display: block;
                    }
                }

                .mouse-scroll {
                    display: none;
                }
            }
        }

        .menu-bar-section {
            width: 100%;
            border-bottom: unset;

            .menu-lists-wrapper {
                width: 100%;
                margin: 0;

                .menu-lists {
                    flex-direction: column;
                    row-gap: 29px;
                    align-items: center;

                    .menu-list {
                        width: 100%;
                        padding-bottom: 0px;

                        // width: 110px;
                        a {}
                    }

                    .menu-list:nth-child(1) {
                        border-bottom: 1px solid #8F9AA3;
                        padding-bottom: 12px;

                        a {
                            border-bottom: 2px solid #0095FF;
                            padding-bottom: 12px;
                        }
                    }
                }
            }
        }

        .mission-section1 {
            width: 470px;

            .text-wrapper {
                z-index: 999;
                padding-top: 344px;
                ;

                .title-text {
                    font-size: 26px;
                }

                .sub-text {

                    p {
                        .pc {
                            display: none;
                        }

                        .mb {
                            display: block;
                        }

                        font-size: 14px;
                    }
                }
            }

            .img1 {
                width: 188px;
                height: 133px;
                top: 250px;
                left: 0;
            }

            .img2 {
                width: 244px;
                height: 191px;
                top: 115px;
                right: 0px;
            }

            .img3 {
                width: 165px;
                height: 135px;
                top: 630px;
                ;
                left: 75px;
            }

            .img4 {
                width: 186px;
                height: 148px;
                top: 689px;
                right: 75px;
            }

        }

        .mission-section2 {
            margin-top: 180px;

            .img-wrapper {
                width: auto;
                flex-wrap: nowrap;
                flex-direction: column;
                .card {
                    width: 320px;
                    height: 403px;
                    img{
                        height:242px;
                    }
                    .card-content{
                        height: auto;
                        padding:16px;
                        padding-top: 38px;
                        .sub-title{
                            font-size: 14px;
                            white-space: unset;
                        }
                    }
                }
            }
        }
        .mission-section3{
            .mission-top-banner-box{
                .banner-title{
                    text-align: center;
                    font-size: 50px;
                    br{
                        display: block;
                    }
                }
                .banner-sub-title{
                    font-size: 24px;
                    text-align: center;
                    line-height: 150%;
                    br{
                        display: block;
                    }
                }
            }
            .blockchan-info-wrapper{
                flex-direction: column;
                .blockchan-card{
                    width: 320px;
                    flex-direction: column;
                    row-gap: 22px;
                    .left-card{
                        order:2;
                        .card-sub-title{
                            white-space: unset;
                        }
                    }
                    .right-card{
                        order: 1;
                        img{
                            width: 320px;
                        }
                    }
                }
            }
        }
        .mission-section4{
            .text-box{
                width: auto;
                align-items: center;
                row-gap: 24px;
                .top-text{
                    font-size: 18px;
                }
                .middle-text{
                    text-align: center;
                    font-size: 26px;
                    white-space: unset;
                    br{
                        display: block;
                    }
                }
                .careers{
                    width: 181px;
                    height:51px;
                    font-size: 18px;
                }
            }
        }
    }
}