@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
html h2,
html ul,
html p,
body h2,
body ul,
body p {
  padding: 0;
  margin: 0;
}
html li,
body li {
  outline: none;
  list-style: none;
}
html a,
body a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
}
main::-webkit-scrollbar {
  width: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
main::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/** 공통 헤더 **/
.header-section {
  z-index: 200;
  background-color: black;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-section .header-logo {
  width: 178px;
}
.header-section .header-logo img {
  width: 100%;
}
.header-section .header-nav .header-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: unset;
}
.header-section .header-nav .header-nav-list .header-nav-item {
  position: relative;
  display: grid;
  height: 80px;
  overflow: hidden;
}
.header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header-section .header-btn-section .header-btn-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.header-section .header-btn-section > hr {
  height: 16px;
  background-color: white;
}

.dx-history-page .menu-bar-section {
  border-bottom: 1px solid #8F9AA3;
}
.dx-history-page .menu-bar-section .menu-lists-wrapper {
  width: 1254px;
  margin: 0 auto;
  margin-top: 40px;
}
.dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists img {
  display: none;
}
.dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(2) {
  border-bottom: 2px solid #0095FF;
}
.dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list {
  width: 209px;
  text-align: center;
  padding-bottom: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.dx-history-page .banner-section {
  width: 100%;
  height: 537px;
}
.dx-history-page .banner-section img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.dx-history-page .dx-history-section {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 84px;
     -moz-column-gap: 84px;
          column-gap: 84px;
}
.dx-history-page .dx-history-section .left-box {
  width: 401px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.dx-history-page .dx-history-section .left-box .top-text {
  font-size: 18px;
  font-weight: 700;
  color: #0095FF;
}
.dx-history-page .dx-history-section .left-box .middle-text,
.dx-history-page .dx-history-section .left-box .bottom-text {
  white-space: pre-line;
  color: white;
}
.dx-history-page .dx-history-section .left-box .middle-text {
  line-height: 130%;
  font-size: 34px;
  font-weight: 700;
}
.dx-history-page .dx-history-section .left-box .bottom-text {
  font-weight: 400;
  line-height: 180%;
}
.dx-history-page .dx-history-section .right-box {
  width: 715px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}
.dx-history-page .dx-history-section .right-box .history-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #949494;
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu .history-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 20px;
  font-weight: 700;
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu .history-title .year {
  color: #0095FF;
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu .history-title .text {
  color: white;
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu .arrow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu .active-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dx-history-page .dx-history-section .right-box .history-card .history-menu.hide-border {
  border-bottom: none;
}
.dx-history-page .dx-history-section .right-box .history-card .history-info-wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 26px;
  max-height: 0;
  overflow: hidden;
  padding: 0 28px;
  -webkit-transition: max-height 0.4s ease, padding 0.4s ease;
  transition: max-height 0.4s ease, padding 0.4s ease;
}
.dx-history-page .dx-history-section .right-box .history-card .history-info-wrapper .history-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.dx-history-page .dx-history-section .right-box .history-card .history-info-wrapper .history-info-box .info-date {
  font-weight: 700;
  line-height: 190%;
}
.dx-history-page .dx-history-section .right-box .history-card .history-info-wrapper .history-info-box .info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  white-space: pre;
}
.dx-history-page .dx-history-section .right-box .history-card .show {
  max-height: 800px;
  padding: 28px;
  background-color: #1A1B23;
  border-top: 1px solid #0095FF;
}
.dx-history-page .section3 {
  width: 100%;
  height: 507px;
  background-image: url("../assets/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dx-history-page .section3 .text-box {
  width: 1126px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.dx-history-page .section3 .text-box .top-text {
  color: #0095FF;
  font-size: 24px;
  font-weight: 700;
}
.dx-history-page .section3 .text-box .middle-text {
  font-size: 34px;
  font-weight: 700;
  white-space: pre-line;
  line-height: 140%;
  color: white;
}
.dx-history-page .section3 .text-box .middle-text br {
  display: none;
}
.dx-history-page .section3 .text-box .middle-text span {
  color: #0095FF;
}
.dx-history-page .section3 .text-box .careers {
  width: 181px;
  height: 52px;
  color: white;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section {
  margin-top: 100px;
  width: 100%;
  background-color: #1A1B23;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ABB3BA;
}
.footer-section .footer-nav-list {
  margin: 27px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  border-bottom: solid 1px #44464F;
}
.footer-section .footer-nav-list .footer-nav-list-item {
  font-size: 14px;
  font-weight: 400;
  color: #ABB3BA;
}
.footer-section .footer-content-container {
  margin-bottom: 40px;
}
.footer-section .footer-content-container .footer-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 13px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
  width: 80px;
  font-weight: 700;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section .footer-bottom-wrapper .footer-bottom-text {
  font-size: 13px;
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper .footer-bottom-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

@media screen and (max-width: 1440px) {
  .header-section {
    padding: 0 20px;
  }
  .header-section .header-logo {
    width: 120px;
  }
  .header-section .header-nav .header-nav-list {
    grid-template-columns: repeat(4, 110px);
  }
  .header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 14px;
  }
  .header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 12px;
  }
  .header-section .header-btn-section {
    gap: 8px;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper {
    width: 684px;
    margin-top: 70px;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-list {
    width: 112px;
  }
  .dx-history-page .section3 .text-box {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dx-history-page .section3 .text-box .middle-text {
    text-align: center;
  }
  .dx-history-page .dx-history-section {
    width: 720px;
    row-gap: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .footer-section {
    padding: 38px;
  }
  .footer-section .footer-nav-list {
    margin: 24px 0 12px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer-section .footer-content-container {
    margin-bottom: 28px;
  }
  .footer-section .footer-content-container .footer-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
    font-size: 12px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
    width: 78px;
    white-space: nowrap;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-section .footer-bottom-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header-section .header-logo {
    width: 120px;
  }
  .header-section > .header-nav, .header-section > .header-btn-section {
    display: none;
  }
  .header-section .header-mobile-menu {
    position: fixed;
    right: -100%;
    top: 80px;
    background-color: black;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 40px;
    -webkit-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
    overflow-x: hidden;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1px;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item {
    text-align: center;
    display: grid;
    height: 60px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .header-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list {
    position: unset;
    background-color: #1A1B23;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 14px;
  }
  .header-section .header-mobile-menu .header-btn-section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin: 0 auto;
  }
  .header-section .active-mobile-menu {
    right: 0;
  }
  .dx-history-page .menu-bar-section {
    width: 100%;
    position: fixed;
    top: 80px;
    background-color: black;
    padding: unset;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1000;
    border-bottom: unset;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 29px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 500px;
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists.closed {
    max-height: 52px;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list {
    width: 100%;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) {
    position: relative;
    padding-bottom: 12px;
    border-bottom: unset;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) .arrow {
    display: block;
    position: absolute;
    top: -5px;
    right: 8px;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(2) {
    border-bottom: unset;
  }
  .dx-history-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(2) a {
    color: #0095FF;
  }
  .dx-history-page .menu-bar-section .arrow {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    cursor: pointer;
  }
  .dx-history-page .menu-bar-section .arrow.rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .dx-history-page .dx-history-section {
    width: 320px;
    row-gap: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    top: -250px;
  }
  .dx-history-page .dx-history-section .right-box {
    width: 320px;
  }
  .dx-history-page .dx-history-section .right-box .history-card .history-info-wrapper .history-info-box .info-text {
    white-space: unset;
    width: 287px;
  }
  .dx-history-page .section3 .text-box {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 24px;
  }
  .dx-history-page .section3 .text-box .top-text {
    font-size: 18px;
  }
  .dx-history-page .section3 .text-box .middle-text {
    text-align: center;
    font-size: 26px;
    white-space: unset;
  }
  .dx-history-page .section3 .text-box .middle-text br {
    display: block;
  }
  .dx-history-page .section3 .text-box .careers {
    width: 181px;
    height: 51px;
    font-size: 18px;
  }
  .footer-section {
    padding: 20px;
  }
  .footer-section .footer-nav-list {
    margin: 24px 0 12px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer-section .footer-content-container {
    margin-bottom: 28px;
  }
  .footer-section .footer-content-container .footer-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
    font-size: 12px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
    width: 78px;
    white-space: nowrap;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-section .footer-bottom-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
}