@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
html h2,
html ul,
html p,
body h2,
body ul,
body p {
  padding: 0;
  margin: 0;
}
html li,
body li {
  outline: none;
  list-style: none;
}
html a,
body a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
  /* 스크롤바 스타일 설정 */
}
main::-webkit-scrollbar {
  width: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
main::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.work-culture-page .banner-section {
  height: 537px;
  background-image: -webkit-image-set(url(../assets/banner/banner-img.png) 1x, url(../assets/banner/banner-img@2x.png) 2x, url(../assets/banner/banner-img@3x.png) 3x);
  background-image: image-set(url(../assets/banner/banner-img.png) 1x, url(../assets/banner/banner-img@2x.png) 2x, url(../assets/banner/banner-img@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.work-culture-page .card-section {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}
.work-culture-page .card-section .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.work-culture-page .card-section .left-box .top-text {
  color: #0095FF;
  font-size: 18px;
  font-weight: 700;
}
.work-culture-page .card-section .left-box .center-text {
  font-size: 34px;
  font-weight: 700;
  line-height: 130%;
  color: white;
}
.work-culture-page .card-section .left-box .bottom-text {
  line-height: 180%;
  font-weight: 400;
  color: white;
}
.work-culture-page .card-section .right-box {
  width: 872px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.work-culture-page .card-section .right-box .card {
  width: 244px;
  height: 280px;
  background-color: #1A1B23;
  border-radius: 8px;
  padding: 21px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work-culture-page .card-section .right-box .card .color-text {
  color: #0095FF;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.work-culture-page .card-section .right-box .card .text {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
.work-culture-page .section2 {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.work-culture-page .section2 .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 47px;
}
.work-culture-page .section2 .title-wrapper .section2-title {
  font-size: 45px;
  font-weight: 700;
  color: white;
  font-weight: 700;
}
.work-culture-page .section2 .title-wrapper .section2-title .mb {
  display: none;
}
.work-culture-page .section2 .title-wrapper img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.work-culture-page .section2 .section2-info-wrapper {
  margin-top: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 100px;
}
.work-culture-page .section2 .section2-info-wrapper .section2-info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
.work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box .info-title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box .info-title .info-color-text {
  color: #0095FF;
}
.work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box .info-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box .info-lists .info-list {
  color: white;
  font-weight: 400;
}
.work-culture-page .employment-section {
  margin-top: 198px;
  height: 304px;
  background-image: -webkit-image-set(url(../assets/employment/employment.png) 1x, url(../assets/employment/employment@2x.png) 2x, url(../assets/employment/employment@3x.png) 3x);
  background-image: image-set(url(../assets/employment/employment.png) 1x, url(../assets/employment/employment@2x.png) 2x, url(../assets/employment/employment@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work-culture-page .employment-section .employment-link-box {
  width: 1200px;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.work-culture-page .employment-section .employment-link-box .top-text {
  font-size: 14px;
  font-weight: 700;
}
.work-culture-page .employment-section .employment-link-box .center-text {
  font-size: 34px;
  font-weight: 700;
}
.work-culture-page .employment-section .employment-link-box .center-text br {
  display: none;
}
.work-culture-page .employment-section .employment-link-box .link-btn {
  background-color: white;
  width: 238px;
  height: 44px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .work-culture-page .card-section {
    width: 720px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 48px;
    top: -250px;
  }
  .work-culture-page .card-section .right-box {
    width: 720px;
  }
  .work-culture-page .card-section .right-box .card {
    width: 352px;
    height: 242px;
  }
  .work-culture-page .section2 {
    width: 720px;
  }
  .work-culture-page .section2 .title-wrapper {
    width: 100%;
    row-gap: 28px;
  }
  .work-culture-page .section2 .title-wrapper .section2-title {
    font-size: 34px;
  }
  .work-culture-page .section2 .title-wrapper img {
    width: 100%;
    height: 346px;
  }
  .work-culture-page .section2 .section2-info-wrapper {
    margin-top: 164px;
    row-gap: 109px;
  }
  .work-culture-page .section2 .section2-info-wrapper .section2-info-card {
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }
  .work-culture-page .section2 .section2-info-wrapper .section2-info-card img {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box {
    width: 100%;
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
  }
  .work-culture-page .employment-section .employment-link-box {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .work-culture-page .banner-section {
    height: 300px;
  }
  .work-culture-page .desktop-menu {
    display: none !important;
  }
  .work-culture-page .banneer-section {
    background-image: -webkit-image-set(url(../assets/banner/banner-img-mb.png) 1x, url(../assets/banner/banner-img-mb@2x.png) 2x, url(../assets/banner/banner-img-mb@3x.png) 3x);
    background-image: image-set(url(../assets/banner/banner-img-mb.png) 1x, url(../assets/banner/banner-img-mb@2x.png) 2x, url(../assets/banner/banner-img-mb@3x.png) 3x);
  }
  .work-culture-page .card-section {
    width: auto;
    row-gap: 71px;
  }
  .work-culture-page .card-section .left-box {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .work-culture-page .card-section .left-box .center-text {
    font-size: 26px;
    line-height: 140%;
  }
  .work-culture-page .card-section .left-box .bottom-text {
    line-height: 150%;
  }
  .work-culture-page .card-section .right-box {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-culture-page .card-section .right-box .card {
    width: 100%;
    height: 100%;
    padding: 16px 16px;
  }
  .work-culture-page .card-section .right-box .card .text {
    margin-top: 10px;
  }
  .work-culture-page .section2 {
    width: auto;
  }
  .work-culture-page .section2 .title-wrapper img {
    height: auto;
  }
  .work-culture-page .section2 .title-wrapper .section2-title {
    font-size: 26px;
    line-height: 150%;
  }
  .work-culture-page .section2 .title-wrapper .section2-title .pc {
    display: none;
  }
  .work-culture-page .section2 .title-wrapper .section2-title .mb {
    display: block;
  }
  .work-culture-page .section2 .section2-info-wrapper .section2-info-card img {
    height: auto;
  }
  .work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box .info-title {
    font-size: 18px;
  }
  .work-culture-page .section2 .section2-info-wrapper .section2-info-card .info-text-box .info-lists .info-list {
    font-size: 14px;
  }
  .work-culture-page .employment-section {
    height: 507px;
    background-image: -webkit-image-set(url(../assets/employment/employment-mb.png) 1x, url(../assets/employment/employment-mb@2x.png) 2x, url(../assets/employment/employment-mb@3x.png) 3x);
    background-image: image-set(url(../assets/employment/employment-mb.png) 1x, url(../assets/employment/employment-mb@2x.png) 2x, url(../assets/employment/employment-mb@3x.png) 3x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .work-culture-page .employment-section .employment-link-box {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 24px;
  }
  .work-culture-page .employment-section .employment-link-box .top-text {
    font-size: 18px;
  }
  .work-culture-page .employment-section .employment-link-box .center-text {
    font-size: 26px;
  }
  .work-culture-page .employment-section .employment-link-box .center-text br {
    display: block;
  }
  .work-culture-page .employment-section .employment-link-box .link-btn {
    width: 181px;
    height: 52px;
    font-size: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-culture-page .employment-section .employment-link-box .link-btn img {
    display: none;
  }
  .pc-br {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mb-menu,
  .mb-br {
    display: none !important;
  }
}