html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard",
        sans-serif;
    overflow: hidden;

    h2,
    ul,
    p {
        padding: 0;
        margin: 0;
    }

    li {
        outline: none;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

}

main {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;

    /* 스크롤바 스타일 설정 */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #333;
        /* 스크롤바 색상 */
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: #000;
        /* 트랙 배경색 */
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button,
a,
label {
    padding: unset;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background-color: unset;
    color: black;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
        transition: 0.2s ease-in-out;
    }
}



.property-page {
    .banner-section {
        width: 100%;
        height: 537px;
        background-image: url("../assets/bg-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: end;
        padding-bottom: 48px;
        box-sizing: border-box;

        .banner-title-box {
            width: 1200px;
            margin: 0 auto;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            .color-text {
                font-size: 18px;
                color: #0095FF;
            }

            .text {
                line-height: 130%;
                color: white;
                font-size: 34px;
            }
        }
    }

    .property-section {
        padding-top: 35px;
        padding-bottom: 59px;
        background-color: white;

        .property-wrapper {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 31px;

            .search-form {
                width: 100%;
                display: flex;
                justify-content: end;
                position: relative;

                .search-input {
                    width: 316px;
                    height: 56px;
                    border-radius: 4px;
                    padding: 16px 14px;
                    box-sizing: border-box;
                    border: 1px solid #DBDBDB;
                }

                .search-input::placeholder {
                    font-size: 14px;
                    color: #949494;
                    font-weight: 400;
                }

                img {
                    position: absolute;
                    right: 14px;
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }

            .lists-wrapper {
                border-top: 1px solid black;

                .lists-ul {
                    display: flex;
                    flex-direction: column;

                    .list {
                        display: grid;
                        border-bottom: 1px solid #DCDEE4;
                        align-items: center;
                        padding: 24px 0px;
                        box-sizing: border-box;
                        grid-template-columns: 30px 500px 150px 346px 93px;
                        gap: 20px;
                        font-size: 16px;

                        .list-title {
                            .bold {
                                font-weight: 700;
                            }
                        }


                        .center-box {
                            display: flex;
                            column-gap: 11px;
                            align-items: center;
                            justify-content: center;


                            .register {
                                width: 44px;
                                height: 28px;
                                background-color: #0095FF;
                                color: white;
                                font-weight: 400;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .status-type {
                                background-color: rgba(68, 70, 79, 1);
                            }

                            .date {
                                font-weight: 400;
                            }
                        }

                        .country-number {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                        }

                        .register-btn {
                            width: 93px;
                            height: 40px;
                            background-color: #F5F6F8;
                            font-size: 14px;
                            font-weight: 400;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }



                    }
                }
            }
        }
    }

    .menu-bar-section {
        position: sticky;
        top: 0;
        background-color: black;
        border-bottom: 1px solid #8F9AA3;
        z-index: 10;


        .menu-lists-wrapper {
            width: 1254px;
            margin: 0 auto;


            .menu-lists {
                display: flex;

                .menu-list {
                    width: 209px;
                    text-align: center;
                    // padding-bottom: 12px;
                    box-sizing: border-box;
                    height: 50px;

                    img {
                        display: none;
                    }

                    a {
                        height: 100%;
                        font-size: 18px;
                        font-weight: 700;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .now-list {
                    border-bottom: 2px solid #0095FF;

                }
            }
        }
    }

    .pagination-btn-section {
        padding-bottom: 116px;
        box-sizing: border-box;
        background-color: white;

        .pagination-btn-box {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .arrow-btn {
                width: 20px;
                height: 20px;
            }

            .number-btn {
                width: 29px;
                height: 29px;
                border: 1px solid #D9D9D9;
                border-radius: 2px;
                color: #949494;
                font-size: 15px;
                font-weight: 700;

            }

            .now-number-btn {
                background-color: #0095FF;
                color: white;
            }
        }
    }
}



.property-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    align-items: center;
    justify-content: center;

    .property-modal-content {
        position: relative;
        max-width: 520px;
        background-color: white;

        .modal-img {
            width: 100%;
        }

        .close-btn {
            position: absolute;
            top: -16px;
            right: -16px;
            background-color: white;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-sizing: border-box;
            font-size: 22px;
            font-weight: 500;
            color: black;
            border: 1px solid #D9D9D9;
        }
    }
}

// tablet
@media screen and (max-width:1440px) {

    .property-page {
        .banner-section {
            justify-content: center;
            align-items: center;
            height: 231px;
            padding-bottom: unset;

            .banner-title-box {
                width: auto;
                text-align: center;
            }
        }

        .menu-bar-section {
            .menu-lists-wrapper {
                width: 684px;

                .menu-list {
                    width: 112px;
                }
            }
        }

        .property-section {
            padding-top: 44px;

            .property-wrapper {
                padding: 0 20px;
                box-sizing: border-box;
                width: 100%;

                .lists-wrapper {
                    .lists-ul {
                        .list {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 8px;

                            .list-title {
                                font-weight: bold;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                width: 100%;
                            }

                            .register-btn {
                                position: absolute;
                                right: 0;
                                bottom: 16px;
                            }


                        }
                    }
                }

            }
        }

        .pagination-btn-section {
            .pagination-btn-box {
                width: 688px;
                padding-bottom: 102px;
            }
        }
    }

}

// mobile
@media screen and (max-width:767px) {

    .property-page {
        .banner-section {
            margin-top: 50px;
            justify-content: center;
            align-items: center;

            .banner-title-box {
                width: auto;
                text-align: center;

                .text {
                    font-size: 26px;
                }
            }
        }

        .menu-bar-section {
            width: 100%;
            position: fixed;
            top: 80px;
            background-color: black;
            padding: unset;
            box-sizing: border-box;
            z-index: 100;
            border-bottom: unset;

            .menu-lists-wrapper {
                width: 100%;
                overflow: hidden;
                margin-top: unset;

                .menu-lists {

                    display: grid;
                    row-gap: 12px;
                    align-items: center;
                    max-height: 520px;
                    transition: max-height 0.4s ease;

                    &.closed {
                        max-height: 52px;
                    }

                    .menu-list {
                        height: 52px;
                        width: 100%;

                        &:nth-child(1) {
                            position: relative;
                            padding-bottom: 12px;
                            border-bottom: unset;

                            a {
                                color: #0095FF;
                            }

                            .arrow {
                                display: block;
                                position: absolute;
                                top: 6px;
                                right: 8px;
                            }
                        }
                    }
                }

                .closed {
                    .menu-list {
                        &:nth-child(1) {
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }

            .arrow {
                transition: transform 0.3s ease;
                cursor: pointer;
                transform: rotate(180deg);

                &.rotate {
                    transform: rotate(0);
                }
            }
        }



        .desktop-menu {
            display: none !important;
        }

        .property-section {
            .property-wrapper {
                .search-form {
                    .search-input {
                        width: 100%;
                    }
                }


                .lists-wrapper {
                    .search-form {
                        .search-input {
                            height: 49px;
                        }
                    }
                }
            }
        }

        .pagination-btn-section {
            .pagination-btn-box {
                width: 320px;
            }
        }
    }



    .property-modal {
        .property-modal-content {

            width: 300px;
            max-width: unset;

            .modal-img {
                width: 300px;
            }

        }
    }
}

@media screen and (min-width: 768px) {


    .mb-menu,
    .mb-br {
        display: none !important;
    }
}