@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}
html h2,
html ul,
html p,
body h2,
body ul,
body p {
  padding: 0;
  margin: 0;
}
html li,
body li {
  outline: none;
  list-style: none;
}
html a,
body a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: black;
  /* 스크롤바 스타일 설정 */
}
main::-webkit-scrollbar {
  width: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: #333;
  /* 스크롤바 색상 */
  border-radius: 4px;
}
main::-webkit-scrollbar-track {
  background-color: #000;
  /* 트랙 배경색 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button,
a,
label {
  padding: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  color: black;
  text-decoration: none;
}
button:focus,
a:focus,
label:focus {
  outline: none;
}
button:hover,
a:hover,
label:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/** 공통 헤더 **/
.header-section {
  z-index: 200;
  background-color: black;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-section .header-logo {
  width: 178px;
}
.header-section .header-logo img {
  width: 100%;
}
.header-section .header-nav .header-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: unset;
}
.header-section .header-nav .header-nav-list .header-nav-item {
  position: relative;
  display: grid;
  height: 80px;
  overflow: hidden;
}
.header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}
.header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-section .header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header-section .header-btn-section .header-btn-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.header-section .header-btn-section > hr {
  height: 16px;
  background-color: white;
}

.property-page .banner-section {
  width: 100%;
  height: 537px;
  background-image: url("../assets/bg-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.property-page .banner-section .banner-title-box {
  width: 1200px;
  margin: 0 auto;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.property-page .banner-section .banner-title-box .color-text {
  font-size: 18px;
  color: #0095FF;
}
.property-page .banner-section .banner-title-box .text {
  line-height: 130%;
  color: white;
  font-size: 34px;
}
.property-page .property-section {
  padding-top: 35px;
  padding-bottom: 59px;
  background-color: white;
}
.property-page .property-section .property-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 31px;
}
.property-page .property-section .property-wrapper .search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.property-page .property-section .property-wrapper .search-form .search-input {
  width: 316px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #DBDBDB;
}
.property-page .property-section .property-wrapper .search-form .search-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}
.property-page .property-section .property-wrapper .search-form .search-input::-moz-placeholder {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}
.property-page .property-section .property-wrapper .search-form .search-input:-ms-input-placeholder {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}
.property-page .property-section .property-wrapper .search-form .search-input::-ms-input-placeholder {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}
.property-page .property-section .property-wrapper .search-form .search-input::placeholder {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}
.property-page .property-section .property-wrapper .search-form img {
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.property-page .property-section .property-wrapper .lists-wrapper {
  border-top: 1px solid black;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list {
  display: grid;
  border-bottom: 1px solid #DCDEE4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-template-columns: 30px 500px 150px 346px 93px;
  gap: 20px;
  font-size: 16px;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .list-title .bold {
  font-weight: 700;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .center-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .center-box .register {
  width: 44px;
  height: 28px;
  background-color: #0095FF;
  color: white;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .center-box .status-type {
  background-color: rgb(68, 70, 79);
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .center-box .date {
  font-weight: 400;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .country-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .register-btn {
  width: 93px;
  height: 40px;
  background-color: #F5F6F8;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.property-page .menu-bar-section {
  position: sticky;
  top: 0;
  background-color: black;
  border-bottom: 1px solid #8F9AA3;
  z-index: 10;
}
.property-page .menu-bar-section .menu-lists-wrapper {
  width: 1254px;
  margin: 0 auto;
}
.property-page .menu-bar-section .menu-lists-wrapper .menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list {
  width: 209px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
}
.property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list img {
  display: none;
}
.property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list a {
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.property-page .menu-bar-section .menu-lists-wrapper .menu-lists .now-list {
  border-bottom: 2px solid #0095FF;
}
.property-page .pagination-btn-section {
  padding-bottom: 116px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}
.property-page .pagination-btn-section .pagination-btn-box {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.property-page .pagination-btn-section .pagination-btn-box button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.property-page .pagination-btn-section .pagination-btn-box .arrow-btn {
  width: 20px;
  height: 20px;
}
.property-page .pagination-btn-section .pagination-btn-box .number-btn {
  width: 29px;
  height: 29px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  color: #949494;
  font-size: 15px;
  font-weight: 700;
}
.property-page .pagination-btn-section .pagination-btn-box .now-number-btn {
  background-color: #0095FF;
  color: white;
}

.footer-section {
  width: 100%;
  background-color: #1A1B23;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ABB3BA;
}
.footer-section .footer-nav-list {
  margin: 27px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  border-bottom: solid 1px #44464F;
}
.footer-section .footer-nav-list .footer-nav-list-item {
  font-size: 14px;
  font-weight: 400;
  color: #ABB3BA;
}
.footer-section .footer-content-container {
  margin-bottom: 40px;
}
.footer-section .footer-content-container .footer-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 13px;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
  width: 80px;
  font-weight: 700;
}
.footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section .footer-bottom-wrapper .footer-bottom-text {
  font-size: 13px;
  font-weight: 400;
}
.footer-section .footer-bottom-wrapper .footer-bottom-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.property-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.property-modal .property-modal-content {
  position: relative;
  max-width: 520px;
  background-color: white;
}
.property-modal .property-modal-content .modal-img {
  width: 100%;
}
.property-modal .property-modal-content .close-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  font-weight: 500;
  color: black;
  border: 1px solid #D9D9D9;
}

@media screen and (max-width: 1440px) {
  .header-section {
    padding: 0 20px;
  }
  .header-section .header-logo {
    width: 120px;
  }
  .header-section .header-nav .header-nav-list {
    grid-template-columns: repeat(4, 110px);
  }
  .header-section .header-nav .header-nav-list .header-nav-item .header-nav-link {
    font-size: 14px;
  }
  .header-section .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 12px;
  }
  .header-section .header-btn-section {
    gap: 8px;
  }
  .property-page .banner-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 231px;
    padding-bottom: unset;
  }
  .property-page .banner-section .banner-title-box {
    width: auto;
    text-align: center;
  }
  .property-page .menu-bar-section .menu-lists-wrapper {
    width: 684px;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-list {
    width: 112px;
  }
  .property-page .property-section {
    padding-top: 44px;
  }
  .property-page .property-section .property-wrapper {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
  }
  .property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .list-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .property-page .property-section .property-wrapper .lists-wrapper .lists-ul .list .register-btn {
    position: absolute;
    right: 0;
    bottom: 16px;
  }
  .property-page .pagination-btn-section .pagination-btn-box {
    width: 688px;
    padding-bottom: 102px;
  }
  .footer-section {
    padding: 38px;
  }
  .footer-section .footer-nav-list {
    margin: 24px 0 12px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer-section .footer-content-container {
    margin-bottom: 28px;
  }
  .footer-section .footer-content-container .footer-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
    font-size: 12px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
    width: 78px;
    white-space: nowrap;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-section .footer-bottom-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header-section .header-logo {
    width: 120px;
  }
  .header-section > .header-nav, .header-section > .header-btn-section {
    display: none;
  }
  .header-section .header-mobile-menu {
    position: fixed;
    right: -100%;
    top: 80px;
    background-color: black;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 40px;
    -webkit-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
    overflow-x: hidden;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1px;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item {
    text-align: center;
    display: grid;
    height: 60px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .header-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    width: 100%;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list {
    position: unset;
    background-color: #1A1B23;
  }
  .header-section .header-mobile-menu .header-nav .header-nav-list .header-nav-item .sub-nav-list .sub-nav-link {
    font-size: 14px;
  }
  .header-section .header-mobile-menu .header-btn-section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin: 0 auto;
  }
  .header-section .active-mobile-menu {
    right: 0;
  }
  .property-page .banner-section {
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .property-page .banner-section .banner-title-box {
    width: auto;
    text-align: center;
  }
  .property-page .banner-section .banner-title-box .text {
    font-size: 26px;
  }
  .property-page .menu-bar-section {
    width: 100%;
    position: fixed;
    top: 80px;
    background-color: black;
    padding: unset;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 100;
    border-bottom: unset;
  }
  .property-page .menu-bar-section .menu-lists-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: unset;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-lists {
    display: grid;
    row-gap: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 520px;
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-lists.closed {
    max-height: 52px;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list {
    height: 52px;
    width: 100%;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) {
    position: relative;
    padding-bottom: 12px;
    border-bottom: unset;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) a {
    color: #0095FF;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .menu-lists .menu-list:nth-child(1) .arrow {
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
  }
  .property-page .menu-bar-section .menu-lists-wrapper .closed .menu-list:nth-child(1) a {
    color: white;
  }
  .property-page .menu-bar-section .arrow {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .property-page .menu-bar-section .arrow.rotate {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .property-page .desktop-menu {
    display: none !important;
  }
  .property-page .property-section .property-wrapper .search-form .search-input {
    width: 100%;
  }
  .property-page .property-section .property-wrapper .lists-wrapper .search-form .search-input {
    height: 49px;
  }
  .property-page .pagination-btn-section .pagination-btn-box {
    width: 320px;
  }
  .footer-section {
    padding: 20px;
  }
  .footer-section .footer-nav-list {
    margin: 24px 0 12px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer-section .footer-content-container {
    margin-bottom: 28px;
  }
  .footer-section .footer-content-container .footer-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 6px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item {
    font-size: 12px;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-title {
    width: 78px;
    white-space: nowrap;
  }
  .footer-section .footer-content-container .footer-content-list .footer-content-list-col .footer-content-list-item .footer-content-list-item-desc {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-section .footer-bottom-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
  .property-modal .property-modal-content {
    width: 300px;
    max-width: unset;
  }
  .property-modal .property-modal-content .modal-img {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .header-section .header-nav .header-nav-list .header-nav-item:hover {
    overflow: visible;
  }
  .mb-menu,
  .mb-br {
    display: none !important;
  }
}